[2018-08-08 13:26] iain-anderson opened #4 "Proposed change to ProtocolDriver.HandleOperation"
I suggest that we alter this method in two ways.

Firstly that where a command encompasses multiple ResourceOperations these should be handled in a single call. This allows the device implementation to perform optimized multiple reads or writes on hardware which is capable.

Secondly that the method is split into two variants for PUT and GET operations. The parameters required for these two are di

[2018-08-08 23:05] tonyespy opened #6 "Add registry settings support"
If the registry/consul is enabled on service startup, try to read initial configuration settings from consul.

In order for this feature to work, the settings for the device service need to be injected into consul via core-config-seed, or some other out-of-band mechanism.

**Priority**: High
**Estimated effort**: 5d

[2018-08-08 23:19] tonyespy opened #7 "Add service dependency startup logic"
Per the [California Service Name design](https://wiki.edgexfoundry.org/download/attachments/7602423/ServiceNameDesign-v6.pdf?version=1&modificationDate=1523468903000&api=v2), an EdgeX service should ensure that its dependent services are available before responding to REST endpoints, including ping.

If the registry/consul is specified on startup, then the SDK should query Consul to determine avai

[2018-08-08 23:22] tonyespy opened #8 "Implement the ping endpoint"
Implement the ping endpoint, and ensure that if the consul/registry is enabled, the ping endpoint is specified when registering as a service.

Estimated effort: 1d

[2018-08-08 23:27] tonyespy opened #9 "Add public Service methods to remove or update Devices"
Top-level Service methods should be added to allow device service implementations to dynamically update or remove devices. The operations result in changes to Core Metadata in addition to the device service's local Device objects.

A top-level [AddDevice](https://github.com/edgexfoundry/device-sdk-go/blob/master/devices.go#L69) Service method already exists.

**Estimated effort**: 3-4d

[2018-08-08 23:39] tonyespy opened #10 "Add public Service methods to add/update/remove DeviceProfiles"
Add public Service methods to allow a device service to dynamically add/update or remove DeviceProfile objects. The operations result in changes to Core Metadata in addition to the device service's local DeviceProfile objects.

**Estimated effort**: 2-3d

[2018-08-08 23:47] tonyespy opened #11 "Validate DeviceProfiles on import"
When DeviceProfiles are auto-imported on device service startup, there should be some constraints checking implemented.  These constraints should be represented by configuration settings and should include:

 * max number of device resources
 * max number of resource commands
 * max number of resource operations (applies to get & put)

[2018-08-08 23:52] tonyespy opened #12 "Implement private device struct"
Implement a new private device struct which encapsulates the public [Device](https://github.com/edgexfoundry/edgex-go/blob/master/pkg/models/device.go) object imported from edgex-go.  This new struct can then include a mutex which can be used to prevent a Device from being removed while operations involving it are in-progress.

**Estimated effort**: 3d

[2018-08-08 23:56] tonyespy opened #13 "Review thread safety in devices.go"
The code in devices.go should be reviewed for thread safety.  The current implementation was based on the original EdgeX Java Device Services SDK.  This change is dependent on a new internal device struct to be created, so that devices can be locked when operations involving the device are in-progress.

**Estimated effort**: 2d

[2018-08-08 23:59] tonyespy opened #14 "Implement a device interface to allow unit testing"
A Device interface should be created to allow the mocking of the device cache to allow unit testing of the command REST endpoint (and possibly other code).

**Estimated effort**: 2-3d

[2018-08-09 00:01] tonyespy opened #15 "Implement cache unit tests"
Implement unit tests that cover the device cache logic, which is also responsible to updating Core Metadata with any changes to the local devices.

**Estimated effort**: 3d

[2018-08-13 22:52] tonyespy opened #16 "Simplify device profile caching"
The current implementation of the local device profile caching as implemented in profiles.go is based on the original EdgeX Java Device Services SDK. The original code is overly-complicated and has one enormous function called addDevice() which should be broken up.  Instead of having a simple map or array of DeviceProfile structs, maps of DeviceObjects and commands are created.

Recently a map of

[2018-08-13 23:14] tonyespy opened #17 "Review devices/profiles struct and pointer usage"
Review composition of internal complex data types as used in the device and profile cache.  Should arrays/maps use structs or pointers to structs?  Currently the device cache use pointers to Device structs in it's map, whereas the profile cache code doesn't use pointers in its commands and objects maps. In theory, none of the code that accesses devices in the local cache should need to modify the

[2018-08-13 23:24] tonyespy opened #18 "Implement size constraints for devices & profiles"
Implement size constraints (w/unit tests) for devices and profiles based on configuration settings.  Constraints should include:

 * max devices (total & per profile)

 * max labels per device

 * max device profiles

 * max commands per device profile

 * max resource operations per device profile command

* max number of device resources

* max number of resource commands

* max number of resour

[2018-08-13 23:33] tonyespy opened #19 "Add devices init/remove command support"
Add support for generic init and disconnect functions when devices are added or removed from the device service.  The commands must be valid commands in the corresponding device profile.  The functions are defined by the configuration settings **InitCmd** and **RemoveCmd** settings, and arguments for both are specified in the **InitCmdArgs** and **RemoveCmdArgs** settings.

Note - it might be a go

[2018-08-13 23:38] tonyespy opened #20 "Implement Reading assertions"
Assertions are another attribute  in a device resource's value PropertyValue which specify a string value which the result is compared against.  If the  comparison fails, then the result is set to a string of the form “Assertion failed for device resource: <name>, with value: <result>”, this also has a side-effect of setting the device operatingstate to DISABLED.  In the case of the single device

[2018-08-13 23:42] tonyespy opened #21 "Implement Reading transforms"
Implement transformations of device readings.

The values that can be read from a device are defined in the PropertyValues of device resources as defined by a DeviceProfile.   A PropertyValue may specify optional attributes which are used to transform the readings from devices/sensors. These attributes are defined below and are applied to the native data types (float* or int/uint*) in the followin

[2018-08-13 23:44] tonyespy opened #22 "Implement Reading mappings"
Implement reading mappings.

Mappings are an attribute in resource operation (see Appendix C - Device Profiles for details) and consist of a static list of string result values that contain a fixed mapping.  Ex.

[ “8675309”: “911”, “2112”: “1”, “777”: “666”]

Mapping are applied after assertions are checked, and are the final transformation before readings are created.

For more details see the [

[2018-08-13 23:47] tonyespy opened #23 "Implement binary encoding of Events & Readings"
Implement binary encoding (using CBOR) of events & readings.

This first assumes that a new bytes field (vs. the result field which is a string) has been added to the Reading struct, so the CBOR can encode the byes properly.

**Estimated effort**: 5-7d

[2018-08-13 23:50] tonyespy opened #24 "Implement floating point base64 encoding"
CommandResult currently does not encode floating point values as base64 strings.

For more details see the [Device Services functional requirements](https://wiki.edgexfoundry.org/download/attachments/7602423/edgex-cali-delhi-device-requirements-v8.pdf?version=1&modificationDate=1533761857000&api=v2) document.

**Estimated effort**: 2d

[2018-08-13 23:53] tonyespy opened #25 "Implement All form of GET command endpoint"
Currently the command endpoint only supports specifying a deviceId. Another form of the endpoint replaces a specific device id with the word "all", which instructs the device service to send the given command to all of it's devices.

**Note** - this form of the command was intended for ease of scheduling periodic readings of all of a device service's devices.  If the device service supports multip

[2018-08-13 23:58] tonyespy opened #26 "Implement resource command chaining"
Implement device resource command chaining.

Command chaining is when a device resource specifies another device resource in it's Resource Operation as opposed to specifying actual device resource commands.  See the following comment in command.go for more details:

https://github.com/edgexfoundry/device-sdk-go/blob/master/command.go#L150

**Estimated effort**: 2-3d

[2018-08-14 00:01] tonyespy opened #27 "Implement actuation command support"
The current SDK only handles querying device readings.  This task is to add command actuation (i.e PUT) support.

For more details see the [Device Services functional requirements](https://wiki.edgexfoundry.org/download/attachments/7602423/edgex-cali-delhi-device-requirements-v8.pdf?version=1&modificationDate=1533761857000&api=v2) document.

Estimated effort: 5d

[2018-08-14 00:03] tonyespy opened #28 "Implement command unit tests"
Implement unit tests for the command endpoint (GET & PUT).

This relies on a few other tasks being completed first, namely ensuring that there are interfaces for needed clients and the caching code so that things can be mocked.

**Estimated effort**: 5-7d

[2018-08-14 00:05] tonyespy opened #29 "Implement discovery logic"
Implement discovery logic: if discovery endpoint hit, call protocoldriver.scan(), process ScanList, and add new devices that match any provisionwatchers.

For more details see the [Device Services functional requirements](https://wiki.edgexfoundry.org/download/attachments/7602423/edgex-cali-delhi-device-requirements-v8.pdf?version=1&modificationDate=1533761857000&api=v2) document.

**Estimated  ef

[2018-08-14 00:08] tonyespy opened #30 "Add settings support for provisionwatchers"
Dynamically create provisionwatcher instances based on configuration settings so that device services can implement dynamic discovery.

For more details see the [Device Services functional requirements](https://wiki.edgexfoundry.org/download/attachments/7602423/edgex-cali-delhi-device-requirements-v8.pdf?version=1&modificationDate=1533761857000&api=v2) document.

**Estimated effort**: 3d

[2018-08-14 00:09] tonyespy opened #31 "Create schedule & schedule events on startup"
Create default schedules & schedule events based on configuration settings on startup.

**Estimated effort**: 2-3d

[2018-08-14 00:11] tonyespy opened #32 "Implement callback to handle device adminState"
It was decided at the last F2F, that the one Core Metadata callback function to be supported for Dehli is handling changes to a device's adminState (LOCKED or UNLOCKED).

**Estimated effort**: 3d

[2018-08-22 23:33] tonyespy commented on #4
@iain-anderson Thanks for filing this issue!  I'm still not convinced that we need to have two methods for handling ResourceOperations in the ProtocolDriver interface.

That said, the original design followed the Java implementation a bit too closely, and thus there was room for improvement.  I've re-factored and re-named HandleOperations (although it may make sense to revert back to the original

[2018-08-23 12:58] tonyespy commented on #4
I just made a minor change to drop **models.Device** from **CommandRequest**, as the device doesn't change for each **ResourceOperation**.

Further suggestions include:

 * switching **CommandRequest** back to a **ResourceOperation**, and making the driver either keep a local copy of **DeviceObjects**, or always ask the Service for them by DevProfileName

 * switching the **models.Device** paramet

[2018-08-23 15:01] iain-anderson commented on #4
@tonyespy  These changes look good to me so far. I'd be okay to stay with "Commands" in the naming as that is the context of what we are trying to implement.
I think if there is a possibility that the full device / deviceobject structures are going to be useful to an implementor we should continue to pass them down. Happy to look at this again in a few days when we have more implementation experie

[2018-08-23 17:47] tonyespy commented on #4
@iain-anderson Thanks for the comment!

Re: the full device / deviceobject, let's break them down separately:

 * **Device** - although there's only one passed per **HandleCommands** call, it still a large struct (note, it includes the entire **DeviceProfile**) which is passed by value. I *think* the DS implementation will be mostly interested in the **DeviceObject**, which contains the **ValuePro

[2018-08-30 10:37] jduranf commented on #8
Ping endpoint is already implemented in the same way is implemented in other EdgeX go services. What should be done in this issue?

[2018-09-03 08:02] weichou1229 commented on #7
@tonyespy I'm working on this issue.

[2018-09-04 07:10] jduranf commented on #17
@tonyespy the current implementation of devices using pointers it's buggy and can't handle more than one device. This happens because the device are added in a [for loop](https://github.com/edgexfoundry/device-sdk-go/blob/master/devices.go#L51), and the `md` is added as a reference, but `md` is always the same variable in the for.
One solution is to change the device map from pointers to structs.

[2018-09-05 14:10] iain-anderson commented on #4
* **Device** - I think if we just pass the **Addressable** this should contain what the protocol driver will need.

[2018-09-06 10:12] cloudxxx8 commented on #8
confirmed Ping endpoint implemented and verified work as expected.
closed this issue.

[2018-09-06 10:12] #8 closed

[2018-09-06 10:55] cloudxxx8 commented on #17
@tonyespy
May I know why the OperatingState is DISABLED during newDeviceCache function?

[2018-09-06 10:58] cloudxxx8 commented on #17
@jduranf
It looks like Tony prefers to use pointer, and the size of Device variable might be really large.
May we use the following code to create pointer in the DeviceCache?

[code]

[2018-09-06 12:00] jduranf commented on #17
@cloudxxx8
Yes, if you prefer to use pointers, this will also solve the issue. I will update the PR

[2018-09-06 14:14] jduranf commented on #21
@tonyespy I started to work in this issue, and I think should be easier to implement this issue if `NumericResult []byte`, `StringResult string` and `BoolResult bool` are changed by a `Result string` in [CommandResult](https://github.com/edgexfoundry/device-sdk-go/blob/master/commandresult.go).
I think this will also simplify the code and the implementation of #24 and #20 issues.
What do you think

[2018-09-06 15:04] cloudxxx8 commented on #17
@jduranf
Thanks for your effort on this.  I've merged the PR.

[2018-09-06 15:48] cloudxxx8 commented on #21
@jduranf I thought we could keep this design, because NumericResult and BoolResult might be helpful in some cases.  Also, if the Type is bool or string, we could skip the transformation and only do the mappings only.  If the `Result string` is a numeric value, you still need to cast it to another type to do the transformation.  What do you think?

[2018-09-06 22:41] tonyespy commented on #17
@cloudxxx8 @jduranf The original implementation used pointers because as a C programmer, the idea of copying a **Device** struct around seemed counter-intuitive. A quick checking using **unsafe.SizeOf** shows that the size of **Device** struct is ~904 bytes. Note, as I understand it, this doesn't include length of any memory referenced by the struct (eg. slices, strings, ...). So this is the origi

[2018-09-07 05:38] weichou1229 commented on #31
@tonyespy  I'm start working on this issue.

[2018-09-08 13:14] #4 closed

[2018-09-08 16:38] tonyespy opened #44 "Add versions to glide.yaml"
Currently most of the **device-sdk-go** dependencies pull from head/tip vs. specifying a specific release for each in `glide.yaml`. The same has been planned for **edgex-go**.

**Note** - both the **mgo** and **yaml** packages specify versions via **gopkg.in**.

[2018-09-10 08:31] falkerson commented on #14
@tonyespy I'm working on it. Could you pls assign it to me along with https://github.com/edgexfoundry/device-sdk-go/issues/15?

[2018-09-10 23:08] tonyespy commented on #17
@cloudxxx8 I think we should open a separate issue for the device being set to DISABLED on startup. If you think it makes sense to remove it, I'd say go for it.

[2018-09-11 11:41] weichou1229 opened #47 "Consul doesn't work when clients initial."
Because client api use internal Consul variable. But when startup we have another Consul variable in sdk.

Error log:
[code]

[2018-09-11 11:41] weichou1229 commented on #47
I will work on this issue.

[2018-09-12 08:48] cloudxxx8 opened #49 "Device OperatingState should not be disabled when creating Device Cache"

[2018-09-13 21:10] mhall119 opened #52 "Example simple-device fails to run with confdir flag confict"
I built the example service and when trying to run it I get the following:
[code]

Changing the flag from "confdir" to "confDir" (or removing that flag altogether) fixes this issue.

[2018-09-14 02:05] weichou1229 opened #53 "Change Copyright headers"

[2018-09-14 05:51] weichou1229 commented on #52
@mhall119 I can't reproduce the issue. Below is my test steps.

* OS: macOS 10.13
* Go version : 1.11

Build and run.
[code]
These steps work to me. It seems code is ok.

---
But if I add a code snippet  in man function. Then it can show similar error messages.
`flag.StringVar(&confDir, "confdir", "", "Specify an alternate configuration directory.")`

[code]
and rebuild it.

[code]

[2018-09-14 09:28] #53 closed

[2018-09-14 09:37] weichou1229 commented on #9
@tonyespy I'm working on this issue.

[2018-09-14 09:38] weichou1229 commented on #10
@tonyespy I will work on this issue.

[2018-09-14 13:47] mhall119 commented on #52
I used `make prepare` and `make build` from within the main device-sdk-go directory, can you see if you can reproduce it with that?

[2018-09-14 14:40] cloudxxx8 commented on #32
implemented by #51

[2018-09-14 14:40] #32 closed

[2018-09-14 14:40] cloudxxx8 commented on #31
implemented by #46

[2018-09-14 14:40] #31 closed

[2018-09-14 14:43] cloudxxx8 commented on #19
@tonyespy I don't understand this item very well.   Could you please provide more background or point out which section in the requirement document?  Thanks.

[2018-09-15 05:40] weichou1229 opened #57 "Modify schedule configuration with ISO 8601 expression"

[2018-09-15 14:59] #57 closed

[2018-09-15 16:11] cloudxxx8 commented on #52
@mhall119 we fixed this issue with https://github.com/edgexfoundry/device-sdk-go/pull/59
please make a try.  Thanks

[2018-09-15 16:11] #52 closed

[2018-09-16 08:48] cloudxxx8 commented on #49
fixed this issue by https://github.com/edgexfoundry/device-sdk-go/pull/60

[2018-09-17 02:17] mhall119 commented on #52
Glad to know I wasn't going crazy, thanks @weichou1229 and @cloudxxx8!

[2018-09-17 06:33] weichou1229 commented on #16
@tonyespy I'm woking on this issue with https://github.com/edgexfoundry/device-sdk-go/issues/10

[2018-09-18 08:11] #47 closed

[2018-09-25 04:00] #49 closed

[2018-09-29 21:48] tonyespy opened #67 "Add param member to CommandRequest and remove from ProtocolDriver.HandleCommands"
The ProtocolDriver HandleCommands function has a parameter called 'params' which is used to pass command actuation parameters to the protocol specific code. Currently if the 'set/put' form of the command endpoint is called, this parameter is the corresponding JSON passed to the endpoint. It was suggested instead that we should parse this JSON and add a new parms field to the CommandRequest struct

[2018-10-01 09:29] iain-anderson commented on #67
I think the above should read "set" form or "put" form rather than "All" form.
In the C SDK I've re-used the CommandResult struct to hold the parsed JSON - so for readings the protocol driver fills in the CommandResult and for commands it reads parameters from it.

[2018-10-01 14:16] iain-anderson commented on #67
Also in the CommandResult I've omitted the Device Name and ID (as these may be common across an array / slice of CommandResults), the Resource Operation (as this may be found in a corresponding CommandRequest) and the ValueDescriptor (as this is unused).

[2018-10-02 13:58] jduranf opened #68 "Bug in getDeviceObjectByName()"
Currently there is a bug in getDeviceObjectByName() and always returns an empty DeviceObject.

[2018-10-02 14:20] jduranf opened #70 "Bad format in origin fields"
Origin time in addressable and device service are in microseconds instead of milliseconds

[2018-10-02 14:49] jduranf opened #72 "Send events in another goroutine to improve command request performance"
Events to core-data can be sent in another goroutine, like it's done with the notifications in core-data or core-metadata, in other to improve the performance.

[2018-10-02 15:37] #68 closed

[2018-10-02 15:46] #70 closed

[2018-10-02 23:52] tonyespy commented on #67
@iain-anderson I've updated the my original description.

As for leaving out the DeviceId and DeviceName values, I think that's OK, however removing them completely (as well as ResourceOperation) would cause problems for asynchronous readings (see async.go).

[2018-10-03 02:34] #72 closed

[2018-10-03 08:59] iain-anderson commented on #67
Would typing the channel (for async) on `struct { CommandRequest; CommandResult }` do what we need?

[2018-10-03 15:09] iain-anderson commented on #67
@tonyespy could we change the typing on the async channel, eg to `{ string; []CommandRequest; []CommandResult }` ?
(the string being the device name)

[2018-10-03 19:11] tonyespy commented on #67
@iain-anderson I don't see why not? That said, currently a protocol impl can set device name or id in the `CommandResult`, so maybe we make the channel `{ string; string; []CommandResult }`?

I see you also are including a `[]CommandRequest` parameter, probably so that the ResourceOperation can be used to lookup the `DeviceObject`, right? What if we changed removed the  ResourceOperation pointer f

[2018-10-04 09:46] iain-anderson commented on #67
@tonyespy I think the processing on the async channel will need the `DeviceObject` (for `DeviceObject.Name` and the `PropertyValue`) and the `ResourceOperation` (for `Mappings`).

[2018-10-04 11:44] cloudxxx8 commented on #67
For the async channel, I am wondering whether we could deal with that in CommandHandler to reduce the complexity of ProtocolDriver.  ProtocolDriver only needs the Addressable information and CommandHandler always knows Device information.

[2018-10-04 16:37] iain-anderson commented on #67
The reason I'd like to re-use CommandResult for the parameters in a put command is that we'd do the conversion from strings in the SDK and save the ProtocolDriver implementer from having to do it.

[2018-10-05 10:46] cloudxxx8 commented on #67
Please ignore my previous comment.  I just realized the async channel is for the scenario of the device would push data to Device Service positively.

[2018-10-05 12:15] cloudxxx8 commented on #67
@tonyespy  and @iain-anderson, to leverage "CommandResult" for put command, it should look like the following:
[code]

However, the type name of CommandResult looks weird here.  Do you have any idea to rename this struct?  May we rename it to CommandValue or CommandParameter? This struct could be used generally.  In this case, the API might look like:

[code]

[2018-10-20 09:19] cloudxxx8 opened #75 "Insert more Debug and Warning log inside the source code"

[2018-10-20 09:21] cloudxxx8 opened #76 "Standardize the format of log messages"
The format of log messages are not consistent in the code, so we should identify the format and refine all the log messages

[2018-10-20 09:51] cloudxxx8 opened #77 "Review, refine, and publish the go doc content of public APIs"
when I opened this issue, we didn't have complete go doc for each public API. Now, I would like to examine all of them before next release

[2018-10-20 09:55] cloudxxx8 opened #78 "Create a customizable configuration field and API for users"
The SDK currently manages all configuration (local and via the registry). If an author of a device profile wants to add protocol-specific configuration values, this is not possible today. Instead, they would be required handle protocol configuration entirely separate from the existing mechanisms. Fixing this issue would allow a DS develop to leverage the existing configuration mechanisms to suppor

[2018-10-21 05:53] cloudxxx8 opened #79 "Implement internal scheduler mechanism"
https://docs.google.com/document/d/1Zd1-BtnRMmYchh0HbSFGGVjwtfVHH3_MxEORhKOkAbY/edit

[2018-10-21 05:57] cloudxxx8 opened #80 "make the internal schedule and schedule event can be managed dynamically"
the current design and implementation of internal scheduler mechanism can only run the pre-defined schedule event.  To make it can be managed at run time, we could allow callback of schedule event CRUD or periodically re-load all schedule event by service name from Core Metadata

[2018-10-30 07:10] cloudxxx8 opened #81 "Simple Device Driver should be refined to match sample Device Profile and Device"

[2018-10-30 09:05] cloudxxx8 opened #82 "make the waiting arguments configurable in clients initialization"
The current implementation of clients/init.go:

[code]

The 50 and 2 should be configurable.

[2018-10-30 09:19] cloudxxx8 opened #83 "make the interval configurable in clients initialization when monitoring registry"
The current implementation of clients/init.go:

[code]
The interval should be configurable.

[2018-10-30 10:13] cloudxxx8 opened #84 "support /name/{name}/{command} API"

[2018-10-30 23:13] cloudxxx8 opened #85 "Integrate Edinburgh Config format with Consul"

[2018-11-02 02:39] cloudxxx8 opened #86 "Make callback support Device and Device Profile create, update, and delete"

[2018-11-05 07:13] cloudxxx8 opened #87 "Make PUT scheduling example in device-simple"

[2018-11-05 09:07] cloudxxx8 opened #88 "The overflow in transform doesn't be handled"
The result string should be set to "Overflow failed for device resource: ..." according to the requirement document, if the transform result is overflow the data type.

[2018-11-06 01:52] cloudxxx8 opened #89 "Handle the value when there's no mapping found for a reading"
The issue is that mapping values exist for the ValueProperty, however the reading from the ProtocolDriver doesn't match any of the mapping values.

It's unclear if this is an error or not (i.e. should a error or warning be logged)?

@trcox could you comment on this?

[2018-11-06 01:59] cloudxxx8 commented on #89
For now, I keep the value as is for both read and write operation and log a warning when there is no matched mapping for a value.

[2018-11-06 17:08] #67 closed

[2018-11-07 03:03] cloudxxx8 commented on #7
fixed by #74

[2018-11-07 03:03] #7 closed

[2018-11-07 03:04] cloudxxx8 commented on #9
fixed by #74

[2018-11-07 03:04] #9 closed

[2018-11-07 03:04] cloudxxx8 commented on #10
fixed by #74

[2018-11-07 03:04] #10 closed

[2018-11-07 03:04] cloudxxx8 commented on #12
fixed by #74

[2018-11-07 03:04] #12 closed

[2018-11-07 03:05] cloudxxx8 commented on #16
fixed by #74

[2018-11-07 03:05] #16 closed

[2018-11-07 03:05] cloudxxx8 commented on #20
fixed by #74

[2018-11-07 03:05] #20 closed

[2018-11-07 03:06] cloudxxx8 commented on #21
fixed by #74

[2018-11-07 03:06] #21 closed

[2018-11-07 03:06] cloudxxx8 commented on #22
fixed by #74

[2018-11-07 03:06] #22 closed

[2018-11-07 03:06] cloudxxx8 commented on #24
fixed by #74

[2018-11-07 03:06] #24 closed

[2018-11-07 03:06] cloudxxx8 commented on #25
fixed by #74

[2018-11-07 03:06] #25 closed

[2018-11-07 03:07] cloudxxx8 commented on #27
fixed by #74

[2018-11-07 03:07] #27 closed

[2018-11-07 03:07] cloudxxx8 commented on #79
fixed by #74

[2018-11-07 03:07] #79 closed

[2018-11-07 03:12] cloudxxx8 opened #91 "The package structure refactoring"
we need to discuss whether we want to add a "pkg" level in device-sdk-go

[2018-11-07 03:15] cloudxxx8 opened #92 "Make the failed assertion handling consistent in device-sdk-go"
In internal/handler/command.go:

[code]
The failed assertion handling is inconsistent.

[2018-11-07 03:18] cloudxxx8 opened #93 "The initial profile slice size in cache should not the same as device slice"
in internal/cache/init.go:

[code]

The size of profile slice might not be the same as device slice

[2018-11-07 03:20] cloudxxx8 opened #94 "Correct the transform failed handling in async.go"
in async.go:
[code]

We should still keep the reading result and add the error message into the reading value

[2018-11-07 04:16] cloudxxx8 commented on #94
@tonyespy
In normal command handling, I thought we still need to reply error for any transform failed.

[2018-11-07 04:30] cloudxxx8 commented on #93
@tonyespy How about creating a default slice and append it for each Device Profile?

[code]

[2018-11-07 04:34] cloudxxx8 commented on #93
The total number of DeviceProfile is definitely less than the number of Device.  The code create a slice of DeviceProfile we are using here, although some of the DeviceProfile might be the same.  We could filter the duplicated ones in the cache creation.

[code]

[2018-11-08 14:34] #44 closed

[2018-11-08 14:36] #92 closed

[2018-11-08 14:40] #94 closed

[2018-11-08 16:49] tonyespy opened #102 "Update internal scheduler to handle ScheduleEvent schema changes"
As part of the Edinburgh release, there are planned changed to the **ScheduleEvent** object.

A new **owner** field is being added which is used to determine what service actually processes the **ScheduleEvents** as read from Core Metadata.

The existing **service** field is going to re-named to target, as this more accurately describes the purpose of the field.

The device SDK will now need to qu

[2018-11-10 16:39] cloudxxx8 opened #104 "Wrong search argument to match Value Descriptor for PUT command"
The ValueDescriptor name is created by ResourceOperation.Parameter, but in the handler/command.go, it query by Object:
`vd, ok := cache.ValueDescriptors().ForName(ro.Object)`

The correct one is:
`vd, ok := cache.ValueDescriptors().ForName(ro.Parameter)`

[2018-11-11 18:42] jpwhitemn opened #107 "Add eNotation and Base64 formatting for float* types"
Using the example simpledriver in the device-service-go, I am able to use all the NewXValue methods to submit the various types of data except floats.  When I use the two NewFloatXValue methods, the values are somehow being binary encoded to that what gets submitted is a random string (examp;e:  "value":"PqRObw==")

[2018-11-12 04:52] cloudxxx8 commented on #107
@jpwhitemn that is not a random string, but a base64 encoding of floating value.  We implemented it in #24
It is the decision from the previous F2F meeting for avoiding losing precision.  Also, this requirement is in the document:
https://docs.google.com/document/d/1aMIQ0kb46VE5eeCpDlaTg8PP29-DBSBTlgeWrv6LuYk/edit

[2018-11-12 08:56] cloudxxx8 opened #108 "Service name isn't set into common package before loading configuration"
If the useRegistry flag is true, the Registry service needs service name of device service.

[2018-11-12 15:58] #108 closed

[2018-11-12 17:01] cloudxxx8 commented on #104
fixed by #105

[2018-11-12 17:01] #104 closed

[2018-11-12 22:59] jpwhitemn opened #110 "schedule and event need to be removed from DS sending Event/Reading"
The schedule and event fields should not be in the Event/Reading sent from a Device Service (these are mistakes from the early Go model work).  Here is an example of the Event/Reading message that includes these two null fields that should be removed:  [{"id":"5be7a0d80e360800019dbd26","pushed":0,"device":"RandNum-Device01","created":1541906648020,"modified":0,"origin":1541906648017,"schedule":nul

[2018-11-12 23:01] jpwhitemn commented on #107
OK - fine with the decision if it is made consciously and for good reason.

[2018-11-13 08:20] cloudxxx8 commented on #110
@jpwhitemn For this issue, I am not sure there is anything Device Service SDK can do.
We might need to open this issue in edgex-go repository to remove those two fields in the model.
If you think so, I can help open and fix this issue in edgex-go repository.
Thanks.

[2018-11-13 09:17] jduranf commented on #110
I agree with @cloudxxx8. This is a edgex-go issue, which is [already created](https://github.com/edgexfoundry/edgex-go/issues/314) by @tonyespy.

[2018-11-13 09:19] jduranf commented on #86
@cloudxxx8, can you close this issue? it's already merged
Thanks!

[2018-11-13 09:21] cloudxxx8 commented on #86
This issue is fixed by #101
Thanks, @jduranf

[2018-11-13 09:21] #86 closed

[2018-11-13 15:43] jduranf commented on #110
@jpwhitemn, I created the PR [789](https://github.com/edgexfoundry/edgex-go/pull/789) in edgex-go in order to fix this issue.

[2018-11-16 11:55] jduranf opened #111 "startService() doesn't work properly"
Currently `startService()` doesn't return from `s.Start()` unless an error is produced. So the microservice doesn't check for any interrupt signal and doesn't `call s.Stop()`. This is due to `http.ListenAndServe()`, which blocks the code flow

[2018-11-17 03:09] cloudxxx8 commented on #85
"Service/StartupMsg" in their configuration where we have  "Service/OpenMsg". We should change to make it consistent.

[2018-11-19 16:15] cloudxxx8 opened #113 "Update README file to reflect the current status of device-sdk-go"

[2018-11-19 16:40] cloudxxx8 opened #114 "Add version files for Delhi"

[2018-11-20 02:44] cloudxxx8 commented on #114
The version number of Delhi is 0.7.0

[2018-11-20 02:45] cloudxxx8 opened #116 "Add version files for master"
The version number of master branch is 1.0.0, and it will be the version number of Edinburgh release

[2018-11-21 09:57] iain-anderson commented on #19
AddDeviceCmd / AddDeviceArgs and RemoveDeviceCmd / RemoveDeviceArgs sounds good to me.
The arguments to be a JSON string?

[2018-11-26 01:24] cloudxxx8 opened #120 "Put command handler cannot convert parameter values to correct CommandValue"
the Put parameter is passed in string format, for example:
[code]
command handler converts "10" and "5" to the corresponding data type, such as int8 or int16, via strconv.ParseInt
However, the returned type of strconv.ParseInt is int64, so the value of int8, int16, and int32 will become 0.  The same situation happens on uint8, uint16, uint32, and float32 data types.

[2018-11-26 02:29] cloudxxx8 opened #123 "Put command with wrong parameter name should return 400 error"
In the current implementation, the wrong parameter name in put command would return 200 OK with a warn log.  The 400 bad request error should be returned to client

https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/handler/command.go#L284

[2018-11-27 02:21] #120 closed, assigned to cloudxxx8

[2018-11-27 10:38] cloudxxx8 commented on #111
fixed by #112 and #115

[2018-11-27 10:38] #111 closed

[2018-11-27 10:39] cloudxxx8 commented on #110
fixed by https://github.com/edgexfoundry/edgex-go/pull/789

[2018-11-27 10:39] #110 closed

[2018-12-01 13:30] cloudxxx8 opened #124 "Tracing- add correlation-id for logging and each client"
To fit tracing feature of edgex-go for Edinburgh release
https://github.com/edgexfoundry/edgex-go/issues/824

[2018-12-02 06:10] wangnuannuan opened #125 "type string has no field or method Hex"
I get this repo by run `go get github.com/edgexfoundry/device-sdk-go` , Then run 'make build', it raise the error:
[code]

[2018-12-02 07:59] cloudxxx8 commented on #125
@wangnuannuan
edgex-go just replaced BSON id format as UUID.  We will modify device-sdk-go accordingly.
Could you please run with delhi branch for now?  Or modify glide.yml to build with the delhi branch of edgex-go.  Thanks.

[2018-12-02 20:54] jduranf commented on #125
@wangnuannuan before run `make build` you should run `make prepare`
@cloudxxx8 you are right, but glide.yml already it's using delhi branch

[2018-12-03 02:31] cloudxxx8 opened #126 "README is not markdown file"
README should be renamed to README.md

[2018-12-03 11:50] wangnuannuan commented on #125
The package `cache`, import the `github.com/edgexfoundry/edgex-go/pkg/models`. And the Descriptor Struct
[code]
Id is a string
In `edgex-go`, I run `make run`, there is no error.

[2018-12-03 12:00] wangnuannuan commented on #125
@cloudxxx8
I checkout branch delhi, and there is no error. Thank you.

[2018-12-03 12:20] cloudxxx8 commented on #125
@jduranf thanks, I just noticed that, and I will modify it to master in master branch.
@wangnuannuan Id was BSON Id, and it was just modified to pure string recently.  We will make a change to fit the new design soon.  Thanks for reporting this issue.

[2018-12-03 17:42] #114 closed

[2018-12-04 02:12] #116 closed

[2018-12-04 02:12] #126 closed

[2018-12-04 22:11] jpwhitemn opened #129 "typo in Makefile"
There is a typo in the Makefile
"GOFLAGS=-ldflags "-X github.com/edgexfoundry/devoce-sdk-go.Version=$(VERSION)" should be
"GOFLAGS=-ldflags "-X github.com/edgexfoundry/device-sdk-go.Version=$(VERSION)"

[2018-12-05 10:04] #129 closed

[2018-12-06 16:09] cloudxxx8 opened #132 "Create Attribution.txt"

[2018-12-09 09:37] wangnuannuan commented on #125
I see the repo `edgexfoundry/device-mqtt-go`. In this repo, you use mqtt client in the driver, so the hardware device is mqtt server. If  i want add multiple hardware devices, I need to create multiple drivers. Beacuse each server has a different port, and each mqtt client can only subscribe one server. Why don't you use MQTT borker in driver. This allows you to add devices dynamically.

[2018-12-10 08:42] caocaocaodou opened #135 "device-simple when put {"Switch":"false"} error"
when i put the command {"Switch":"false"}
the device-simple says that
ERROR:Handler-parseWriteParams: parsing Write parameters failed {"Switch":"false"},json: can not unmarshal object into Go value of type []map[string]string

thank you!

[2018-12-10 11:58] cloudxxx8 commented on #135
@caocaocaodou
The Write parameter only accepts JSON array for now.  Please try
`[{"Switch":"false"}]`

[2018-12-10 12:05] cloudxxx8 commented on #125
@wangnuannuan please open an issue on device-mqtt-go repository for any suggestion.  This is an irrelevant topic to this issue.  We noticed that the current design of device-mqtt-go is not flexible, but we made it as the initial release for simplicity.  It could be improved gradually.

[2018-12-10 17:02] #125 closed

[2018-12-10 17:30] #132 closed

[2018-12-11 01:42] caocaocaodou commented on #135
thank you very much！

[2018-12-15 01:48] jpwhitemn opened #137 "Please change the license file name"
Please change the name of the license file to LICENSE per https://wiki.edgexfoundry.org/pages/viewpage.action?pageId=21823866

[2018-12-15 14:34] cloudxxx8 opened #139 "Replace gopkg.in/mgo.v2/bson with github.com/globalsign/mgo/bson to meet the change in edgex-go"
To meet https://github.com/edgexfoundry/edgex-go/pull/915

[2018-12-15 16:44] #137 closed

[2018-12-15 16:44] #139 closed

[2018-12-16 14:43] cloudxxx8 opened #141 "Make Put command body accept simple JSON type"
Currently, put command accept JSON array only, like
`[{"key1":"value1"}, {"key2":"value2"}]`
It could be improved to also accept
`{"key1":"value1", "key2":"value2"}`

[2018-12-17 03:17] caocaocaodou commented on #135
excuse me, when i use the postman it is ok, but if i use this in the edgex-ui-go, although i can see the state of the switch is changed, the return is "failed", i find that the error is "SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data
thank you! @cloudxxx8

[2018-12-17 08:41] cloudxxx8 commented on #135
@caocaocaodou
got it, and I am fixing this issue on #141, so this one is duplicated
the PR for this fix will be opened today

[2018-12-17 08:41] #135 closed

[2018-12-17 08:44] cloudxxx8 opened #142 "Replace ErrNotFound to NewErrServiceClient to meet edgex-go"
the client from edgex-go won't reply ErrNotFound after
https://github.com/edgexfoundry/edgex-go/pull/919

[2018-12-18 00:54] caocaocaodou commented on #135
thank you!

[2018-12-19 00:04] tonyespy commented on #141
This looks to be a mistake in the [device service requirements (v8)](https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions?preview=/7602423/18907296/edgex-cali-delhi-device-requirements-v8.pdf) where the body for a PUT to **/device/{id}/{command}** was described as:

This looks like it was never changed when we decided to drop the **All** form of the command endpoint for PUT r

[2018-12-19 05:03] #142 closed

[2018-12-21 00:31] tonyespy commented on #91
Is this still an issue @cloudxxx8? If not, can you please close?

[2018-12-21 00:37] tonyespy commented on #85
As there's an even newer proposal for configuration for Edinburgh (confusingly title EdgeX-Config-Proposal-v2), we should make sure a pointer to this new proposal gets added once it's been posted on the wiki.

[2018-12-21 00:40] tonyespy commented on #17
@jduranf @cloudxxx8 Can this issue be closed now?

[2018-12-21 06:02] cloudxxx8 commented on #141
I made Delhi support both JSON map and array for backward compatibility, and made master support JSON map only

[2018-12-21 06:17] hoihkj opened #146 "device-simple make build error"
Hello,

I follow the link to practice the device service in go and have a make build error. Do you have a suggestion for this error?

UBUntu 18.04 x64
go version go1.11.4
glide v0.13.2

make build
go build ./...
/# github.com/edgexfoundry/device-simple/internal/mock
 internal/mock/mock_addressableclient.go:29:39: cannot use bson.ObjectIdHex("5b977c62f37ba10e36673802") (type bson.ObjectId) as type

[2018-12-21 06:21] cloudxxx8 commented on #146
@hoihkj
Thanks for reporting this bug.  I am fixing it.
It happens because the change of edgex-go.  The format of Ids are changed.

[2018-12-21 06:27] cloudxxx8 opened #147 "The license version of edgex-go in Attribution.txt is wrong"
should be

[2018-12-21 06:59] cloudxxx8 commented on #146
Please see the change in https://github.com/edgexfoundry/edgex-go/pull/938
@hoihkj for testing purpose, please use delhi branch, because it is a stable version

[2018-12-21 07:36] jduranf commented on #17
For me, this issue can be closed

[2018-12-21 07:58] cloudxxx8 commented on #17
ok, let's close it
thanks all

[2018-12-21 07:58] #17 closed

[2018-12-21 08:37] #146 closed

[2018-12-21 09:14] hoihkj commented on #146
Hi cloudxx8,

The delhi version could pass the make build, many thanks.

[2018-12-21 20:28] #147 closed, assigned to cloudxxx8

[2018-12-22 00:00] tonyespy commented on #6
This has been partially implemented as a device service that uses the SDK will register itself, and attempt to read its configuration from the registry if told to do so on startup.

What hasn't been implemented is a mechanism to populate the consul/registry with initial configuration for device services.  We decided this should be the responsibility of a device service (via the SDK). If the device

[2018-12-22 01:19] tonyespy opened #150 "Readings always are generated with Name=RO.Parameter"
If a call to the command endpoint is successful, the return value is a JSON `Event` containing one or more `Readings`. These same `Event` and `Readings` are also pushed to Core Data as part of the processing of the command. When device-sdk-go creates new `Reading` objects, it uses the `Parameter` field of the associated `ResourceOperation`, however as resource command `Parameter` fields don't alwa

[2019-01-01 12:52] cloudxxx8 commented on #150
The `ValueDescriptor` name is created according to `Parameter`
https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/provision/profiles.go#L126

In current design, `Parameter` is mapping to `ValueDescriptor` and is more human readable, and `Object` is mapping to the device operation name for machine

[2019-01-07 16:45] cloudxxx8 opened #151 "Scale might be float data type even if the device resource type is integer"
For the example of CoolMasterNet
http://coolautomation.com/lib/doc/manual/Modbus-guidelines.pdf

The reading value of temperature is integer in device resource, such as 254 (Room Temperature x10 °C
), so the scale is a flow value- 0.1.  However, our current design would return the error message like
`ERROR: 2019/01/03 17:03:23 the scale 0.1 of PropertyValue cannot be parsed to int16: strconv.Parse

[2019-01-09 14:02] wangnuannuan opened #152 "cannot use bson.ObjectIdHex(id)"
line 176 should be:

[code]

[2019-01-09 14:34] cloudxxx8 commented on #152
@wangnuannuan thanks for reporting that.  the data type of Service.Id is just changed.  I will open PR to fix it by today.
By the way, please use the released and stable version (branch)- "delhi" for your evaluation

[2019-01-11 21:47] tobiasmo1 opened #154 "Synchronize DeviceSDK to align with recently updated EdgeX-Go contract/models"
Several EdgeX-Go data models are being updated to remove MongoDB dependence.

**Scope:**
The primary change across the models is to decouple previous use of _bson.ObjectId_ data type for these data models, to now become a _string_.

To support upcoming releases of edgex-go by device-sdk-go we need to:
* Modify Device SDK interactions with these data models; e.g., addressable, device, deviceprofile

[2019-01-11 21:48] tobiasmo1 commented on #154
I have been maintaining the needed changes for these updates over past couple weeks.

[2019-01-12 10:36] cloudxxx8 commented on #152
@wangnuannuan this issue is duplicated to https://github.com/edgexfoundry/device-mqtt-go/pull/17 and fixed by https://github.com/edgexfoundry/device-mqtt-go/pull/19
For device-mqtt, please set up MQTT broker first and modify configuration-driver.toml.  The related to document will be available in the community web site soon

[2019-01-12 20:40] jpwhitemn commented on #151
Encountered the same issue with a Modbus Comet temperature sensor.   Data in register is a whole integer like 215 for 21.5 degrees Celsius.  Would like to have the scale to be 0.1 and have the service return 21 (or 22).

[2019-01-13 16:46] jpwhitemn commented on #151
That's fine Cloud.  At least it would allow for scales that are less than zero.
I think in the future (way in the future ) we might want to consider a profile that allows a user to specify the deviceResource type and a resource type that are different and allows for some amount of translation - but crawl first
j

    On Sunday, January 13, 2019, 8:29:17 AM CST, cloudxxx8 <notifications@github.com>

[2019-01-14 10:50] #152 closed

[2019-01-14 17:52] #151 closed

[2019-01-14 22:34] anonymouse64 commented on #107
What is hard to explain about the current format? I think that it's fairly easy to explain that the current format is the floating point number represented in base64 and all one has to do to decode it is use a base64 decoder.

I think that we should continue to use the base64 representation for floating point numbers as it's very clear (once it's been documented and one reads the documentation of

[2019-01-15 09:33] cloudxxx8 commented on #107
@anonymouse64 @iain-anderson @jpwhitemn @tonyespy @SteveOss @jduranf
I have to admit it's new to me to learn base 64 encoding, and I didn't notice it until @tonyespy explained to me.  It looks like it's necessary for industrial IoT software to preserve the precision, but for the case which doesn't need the precision, the simple text format is easier to use.

As @iain-anderson mentioned in the WG m

[2019-01-15 10:05] cloudxxx8 commented on #107
Sounds good to me, identify some enumeration value to indicate the behavior

[2019-01-15 11:38] iain-anderson commented on #107
I just don't see that base64 solves a problem here. Yes, it produces shorter output than the decimal strings required for exact transmission, and it's probably faster to compute. But we are working with JSON which is considerably more bulky and more work to generate and parse than an all-binary format anyway. We are doing this so that you can drive the APIs using generic tooling like Postman and c

[2019-01-17 17:07] SteveOss commented on #107
A suggested compromise is to add a new attribute to property values to set the required encoding for floating point types string or base64.

[2019-01-17 17:49] anonymouse64 commented on #107
The problem that base64 solves is a guarantee that you don't lose precision through import/export of floating point numbers. This is important for scientific computing and industrial use cases. Additionally there is a performance gain to be had here in simply converting the binary representation into ASCII values rather than performing all the math ops required to turn a binary representation into

[2019-01-17 18:01] SteveOss commented on #107
These are a number issues with base 64 encoding:

1 - Means floating point values in a JSON encoding cannot be read by a user or easily set by a user from a REST call. Multiple users have complained about this. These is an assumption that JSON should be man -readable.
2 - Most floating point edge data from devices has pretty low precision in the first place (what is the precision of a temperature

[2019-01-17 19:11] jpwhitemn commented on #107
OK - so I am seeing a potential compromise in what Ian has suggested.  What about having a configuration option (something like floatPrecision=true or false) that allows developers to choose whether floats are binary 64 encoded or sent non-encoded with potential loss of precision?  Based on that config option, the SDKs (and DS that come from them) add the reading either encoded or not?

[2019-01-17 21:30] JamesKButcher commented on #107
Coming from a user rather than developer perspective I echo the requirement for readability of the data when in its JSON format.  Agree with Jim's floatPrecision option.

[2019-01-17 22:13] anonymouse64 commented on #107
I don't necessarily agree that using JSON means everything has to be human-readable. We are transporting floating point numbers which are binary in nature. Additionally, it's pretty easy to decode the value if you want to read the value, any number of online converters are available, or command line tools, etc.

That doesn't mean that we should ignore use cases that do exist for this precision. A

[2019-01-18 16:23] SteveOss commented on #107
What about the endian issue? Do we have a solution for this, if not we have a problem.

[2019-01-19 13:47] cloudxxx8 opened #156 "Synchronize DeviceSDK to align with device and device profile edgex-go models"
The Id data type of device and device profile model is replaced with string

[2019-01-19 14:44] cloudxxx8 commented on #107
I agree with making it configurable to match different kinds of use case.  Since it has been released, we could make base64 as the default setting.  It might add some complexity, but get more flexibility.

[2019-01-20 15:15] cloudxxx8 opened #158 "Use UUID format for id in unit tests"
Currently, the id format in unit tests are still BSON Id.  They should be replaced with UUID format to consistency

[2019-01-21 10:41] SteveOss commented on #107
@jduranf WRT to your comments. Setting a fixed endian for base64 encoding is a solution (suggest
little endian as is most widely used), but anyone doing a base64 encode/decode using a system library on a big endian system is going to come a cropper. Agree that default encoding should string not base64. Clearly core data needs aligning with changes to device services.

[2019-01-21 11:15] iain-anderson commented on #19
I'm not sure about having the configuration options apply to every device managed by the service. Could they be scoped to device profiles in some way?

[2019-01-21 12:52] #156 closed

[2019-01-21 13:47] cloudxxx8 commented on #107
@jduranf if core-data expect the data type of value descriptor "F" for float, other data type might also be not as the expected values, such as "I", "S", or "B", right?

[2019-01-21 15:54] cloudxxx8 commented on #107
@jduranf I can't find any document about the data type of device resource in device profile and value descriptor, either.  In the previous version, we had Java enum to restrict those data type value in source code.

[2019-01-22 20:52] lenny-intel opened #159 "Update Device SDK to use new Registry Abstraction"
This is dependent on edgex-go #1039 to be completed

Existing Consul code should be removed from the repo

[2019-01-23 19:41] tobiasmo1 opened #161 "Add GetDeviceByName method to device-sdk-go ManagedDevices.go"
cache.Devices is internal so does not get exposed to outside callers; making this GetDeviceByName access method warranted.

I would need to clean up commit history but implementation proposed here:
Ref: https://github.com/edgexfoundry/device-sdk-go/pull/160/files

[2019-02-06 00:52] tobiasmo1 commented on #161
Commit squashed and review was accepted here:
https://github.com/edgexfoundry/device-sdk-go/pull/163#pullrequestreview-196356371

[2019-02-06 12:40] cloudxxx8 commented on #161
@tobiasmo1 , one question about this issue.  we are making another device service encountering the similar issue, but the protocol driver doesn't have the device name.  how does your driver get the device name in advance?  I am thinking about adding a GetDeviceByAddressableName

[2019-02-06 17:34] tobiasmo1 commented on #161
In my case, the device service is supplying the name when adding new (or checking for existing) device; e.g., serial number of a discovered network camera.

[2019-02-06 21:19] #161 closed

[2019-02-07 16:38] jduranf opened #165 "Use DeviceResources instead of ValueDescriptors"
Currently in all operations performed by the command handler, all use the DeviceResources, [except one which use the ValueDescriptors](https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/handler/command.go#L305).

[For different reasons](https://github.com/edgexfoundry/edgex-go/issues/1071), I recommend, like it's done in the other cases, to use the DeviceResources in this remaining

[2019-02-11 12:41] cloudxxx8 opened #167 "Add more information to log in start up time"
To consist with edgex-go, the service should log the following information:

[2019-02-11 13:06] #165 closed

[2019-02-11 13:17] cloudxxx8 opened #168 "Rename DeviceObject to DeviceResource in Device SDK"
To meet https://github.com/edgexfoundry/edgex-go/pull/1029

[2019-02-11 13:28] cloudxxx8 opened #169 "Add Context for each edgex client code"
To meet https://github.com/edgexfoundry/edgex-go/pull/1067

[2019-02-11 16:33] tobiasmo1 opened #171 "Re-runnable Example"
The example errors on subsequent runs, during device-simple app's creation of device from configuration.toml.  Cleaning mongoDB between runs is a workaround.

[code]

[2019-02-11 16:34] jduranf commented on #30
If it's fine, I will work on it

[2019-02-11 16:53] cloudxxx8 commented on #30
Sure, thank you very much

[2019-02-13 05:00] cloudxxx8 commented on #171
@tobiasmo1 could you please provide the recreate steps?  Thanks

[2019-02-13 05:39] cloudxxx8 commented on #169
As Trever suggested in https://github.com/edgexfoundry/edgex-go/pull/1067
All the client all should look like:

[code]

[2019-02-13 05:41] cloudxxx8 commented on #169
The PR for this issue will be opened after merging #144 and #170

[2019-02-13 06:31] tobiasmo1 commented on #171
1. In terminal #1, initiate EdgeX stack.
`cd ~/go/src/github.com/edgexfoundry/edgex-go/bin;./edgex-launch.sh
`
2. In terminal #2, initiate SDK example app.
`cd $GOPATH/src/github.com/edgexfoundry/device-sdk-go/example/cmd/device-simple;./device-simple
`
3. Stop SDK example by pressing Ctrl+C in terminal #2.

4. Repeat step (2), initiating SDK example app.
Note that now the Simple-Device01 device i

[2019-02-13 15:13] #141 closed

[2019-02-13 16:09] #168 closed

[2019-02-14 09:19] #169 closed

[2019-02-14 18:24] tsconn23 opened #173 "Integrate SDK With New Core-Contracts Module"
The clients and models comprising the edgex-go contract has been moved into its own module found here.

https://github.com/edgexfoundry/go-mod-core-contracts

The device-sdk-go should replace its current edgex-go reference in the go.mod with the above module, and also modify the necessary import paths in the go files themselves. This will eliminate the need to import the entire edgex-go repo as a

[2019-02-14 19:59] tobiasmo1 commented on #154
Closing this since in favor of explicit resolution described in issue #173

[2019-02-14 19:59] #154 closed

[2019-02-14 23:55] tonyespy commented on #171
@tobiasmo1 Your original description is a bit unclear...

I *think* what you're trying to describe is that if you run the device-sdk-go's example device-simple, exit it via signal, and then re-run it, the service generates errors because it tries to re-add a device with a name which is already present in Core Metadata. Does the example still work (i.e. the log messages are just misleading)?

The c

[2019-02-14 23:58] tonyespy commented on #159
@lenny-intel What's the ETA for completion of edgex-go #1039?

[2019-02-14 23:59] tonyespy commented on #158
Does this cause the unit tests to break? If not, it seems like we should fix them, and maybe add a test to ensure that the Ids are proper UUIDs.

[2019-02-15 00:47] tonyespy commented on #150
My point is that a `ResourceOperation.Parameter` may not refer to a `DeviceResource` name, but may instead refer to a `Resource` name.  As `ValueDescriptors` are always created from `DeviceResources`, this may lead to `Reading` which can't be understood. For instance, here's an example from device-virtual [KMC.BAC-121036CE.profile.yaml](KMC.BAC-121036CE.profile.yaml)](https://github.com/edgexfound

[2019-02-15 00:49] tonyespy commented on #123
My vote would be to bump the priority on this one, as otherwise our API is not behaving correctly. I think this should be fixed for Edinburgh.

[2019-02-15 01:07] tonyespy commented on #107
@cloudxxx8 Please refer to the [device resources requirements document](https://wiki.edgexfoundry.org/download/attachments/7602423/edgex-cali-delhi-device-requirements-v8.pdf?version=1&modificationDate=1533761857000&api=v2) (v8) (posted on the [Architecture Issues and Decisions](https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions) page on our wiki). The type system was total

[2019-02-15 01:08] tonyespy commented on #102
We reviewed and approved a proposal from Iain last week, we should add the details to the PR and assign it to someone.

[2019-02-15 01:10] tobiasmo1 commented on #171
Yes you've summarized the condition well. But it creates a fatal condition, and does log other errors (I was listing the debug entries just for context).

Here are a few additional errors:
`level=ERROR ts=2019-02-11T07:19:52.168809581Z app=device-simple source=devices.go:29 msg="creating Device from config failed: {Simple-Device01 Simple-Device
...
level=ERROR ts=2019-02-13T00:07:44.008184074Z app

[2019-02-15 01:16] tonyespy commented on #93
The ValueDescriptor and Device caches both query Core Metadata first, and use the size of the returned slices to set the initial cache size. I think we should just do the same for Profiles cache. Either way, I would categorize this as low priority.

[2019-02-15 01:16] tonyespy commented on #89
So should issue be closed as "invalid"?

[2019-02-15 01:18] tonyespy commented on #88
What's the current behavior if an overflow occurs?

[2019-02-15 01:19] tonyespy commented on #85
@cloudxxx8 Is this still a valid issue?

[2019-02-15 01:20] tonyespy commented on #83
@cloudxxx8 what is this interval used for? This sounds like an enhancement, not a bug?

[2019-02-15 01:23] tonyespy commented on #80
I think with our new AutoEvent design, this isn't really relevant anymore as if a device was changed in metadata, the existing callback should pickup the change to AutoEvent?

[2019-02-15 01:24] tonyespy commented on #77
@cloudxxx8 please provide a description... it's unclear what this issue means.

[2019-02-15 01:25] tonyespy commented on #76
@cloudxxx8 please provide a description.

[2019-02-15 01:25] tonyespy commented on #75
@cloudxxx8 please provide a description.

[2019-02-15 01:28] tonyespy commented on #30
Let's discuss this. I'd prefer for someone to review the original design and document it before we re-implement in Go. For one, I think requiring an endpoint for discovery is overkill, as it'd require the use of the support scheduler. Instead, it'd be simple to add a scan interval to the SDK, so that the DS could be configured to use a sensible interval and the SDK itself would schedule the requir

[2019-02-15 01:29] tonyespy commented on #29
See comment in issue #30.

[2019-02-15 08:15] cloudxxx8 commented on #14
DeviceCache is an interface now

[2019-02-15 08:15] #14 closed

[2019-02-15 09:25] SteveOss commented on #123
Agree, is a bug, should be fixed.

[2019-02-15 13:38] cloudxxx8 commented on #26
This feature is powerful, but might make the profile too complicated.
It's hard to detect infinite loop or dead lock

[2019-02-15 13:40] cloudxxx8 commented on #30
@jduranf agree, they should be implemented together

[2019-02-15 13:44] cloudxxx8 commented on #76
The format of log messages are not consistent in the code, so we should identify the format and refine all the log messages

[2019-02-15 13:51] cloudxxx8 commented on #75
Not all of the functions contain Debug or Warning log, and they are important to issue handling.
We should examine the code and insert proper Debug or Warning log into the code

[2019-02-15 13:56] cloudxxx8 commented on #124
fixed and replaced by #169

[2019-02-15 13:56] #124 closed

[2019-02-15 14:01] cloudxxx8 commented on #83
yes, it is an enhancement
it is about how long to check the endpoints URL registered in Consul

[2019-02-15 14:18] tonyespy commented on #159
@tsconn23 Is the old consul code being added to the new contracts module? We're trying to determine if this issue has to be addressed for Edinburgh.

[2019-02-15 14:22] tonyespy commented on #158
@cloudxxx8 Can you add a pointer to a specific unit test?

[2019-02-15 14:44] tonyespy commented on #107
Some disagreement still exists on what the default should be. This will be decided at the next WG meeting.

[2019-02-15 14:45] tonyespy commented on #107
Note - the device-sdk-c only implements the C float format, not base64 encoding.

[2019-02-15 14:46] tonyespy commented on #102
Closing as device services will use a new internal struct (AutoEvent) for scheduling.

[2019-02-15 14:46] #102 closed

[2019-02-15 14:49] tonyespy commented on #93
After discussion, we should just use the default size when creating this slice.

[2019-02-15 14:52] tonyespy commented on #89
After some discussion, we agree that the code shouldn't log a warning when there's no mapping for a reading.

[2019-02-15 15:27] lenny-intel commented on #159
@tonyespy , plan is to use the new go-mod-registry (#1039) in the device-sdk-go once it has be completed. Hoping to have the PR submitted next week after some internal Intel processes. I was planning to handle this issue.

[2019-02-15 16:46] tsconn23 commented on #76
Recommend using the LoggingClient from go-mod-core-contracts which will provide key/value logging format as well as some basic fields (time, service name, log level) etc.

I added some documentation regarding the keys we currently use in this PR
https://github.com/edgexfoundry/edgex-go/pull/1083

It doesn't look like it has made it out to the documentation site yet though.

[2019-02-15 16:58] tsconn23 commented on #83
I agree this should be done. It's probably low priority though since the real value from this won't be realized until we do an HA/Cloud type of deployment. When you're deploying one instance of a given service that isn't scaling you always know where the endpoint is.

[2019-02-15 22:23] lenny-intel commented on #159
@tonyespy, I can't seem to find where the device-sdk-go is calling the existing CheckKeyValuePairs. I'd expected in in loader.go but IDE usage search shows no usage. What am I missing?

[2019-02-16 14:42] cloudxxx8 commented on #159
@lenny-intel That's right.  It doesn't use anymore, because it is the older implementation.  In fact, I have made one version for this feature.  Have you started implantation?  I will open PR tomorrow.  May you help review or take over to optimize the code?
@tonyespy In device sdk, there is a little different from edgex-go.  Since there is no config-seed support for now, we plan to populate the co

[2019-02-17 11:18] cloudxxx8 commented on #171
@tobiasmo1 I read the code again and confirmed device-sdk-go handles this situation.  Also, I can't reproduce it.  May I know which version of edgex-go you are running?
Could you please try to retrieve the following information to me after step 3.

1. Open browser and call the API to retrieve Devices by Service Name: http://${host}:48081/api/v1/device/servicename/device-simple
2. Open browser and

[2019-02-17 11:37] cloudxxx8 commented on #158
https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/controller/restfuncs_test.go

[2019-02-17 14:48] cloudxxx8 commented on #77
when I opened this issue, we didn't have complete go doc for each public API.  Now, I would like to examine all of them before next release

[2019-02-17 14:49] cloudxxx8 commented on #85
yes, it is still valid.  I should put some configuration under "Writable", such as logging level

[2019-02-17 15:00] cloudxxx8 opened #174 "Modify the NotFound error type to comply with the client code change"
To meet the change:
https://github.com/edgexfoundry/edgex-go/commit/65d80f6cb45a5483de5233600e275d54995d9d6c#diff-2311174e4ebc3d4be67d0cf62dc5e1d2

[2019-02-18 07:27] cloudxxx8 commented on #159
@lenny-intel please help review this PR
https://github.com/edgexfoundry/device-sdk-go/pull/175

[2019-02-18 15:59] tonyespy commented on #75
I'm not sure this really needs to be considered a bug/issue? I think as we move forward, developers should strive to add Debug and/or Warning log messages where necessary. That said, I don't think we should retroactively go back and add additional Debug and/or Warning log messages at this point.

[2019-02-18 16:00] tonyespy commented on #76
@cloudxxx8 Please add a description.

[2019-02-18 16:01] tonyespy commented on #77
@cloudxxx8 Where is our godoc published? Also your comment sounds reasonable, can you make it the description instead of comment?

[2019-02-18 16:12] tonyespy commented on #80
Closing this out, as it has no meaning in the new AutoEvent model.

[2019-02-18 16:12] #80 closed

[2019-02-18 16:37] tonyespy commented on #13
After discussion with @cloudxxx8, we decided that this still should be done.

[2019-02-18 16:39] tsconn23 commented on #13
internal/cache/devices.go

[2019-02-18 16:40] tonyespy commented on #11
Closing this out as it's overlaps with issue #18.

[2019-02-18 16:40] #11 closed

[2019-02-18 16:45] tonyespy commented on #19
This needs some more discussion, and we're going to punt for Edinburgh.

[2019-02-18 16:55] tonyespy commented on #75
We're going to close this out based on our discussion today. @cloudxxx8 if there are specific areas which need additional logging, please file an issue with the details...

[2019-02-18 16:55] #75 closed

[2019-02-18 17:05] tonyespy commented on #29
We discussed during today's WG meeting and it was decided to defer SDK-based dynamic device discovery to Fuji. It was felt that someone should review the original design first, and expand the design to also cover black-listing, before we implement anything.

It also should be noted that a DS can implement dynamic device discovery on its own with both C and Go SDKs.

[2019-02-18 17:06] tonyespy commented on #30
We discussed during today's WG meeting and it was decided to defer SDK-based dynamic device discovery to Fuji. It was felt that someone should review the original design first, and expand the design to also cover black-listing, before we implement anything.

It also should be noted that a DS can implement dynamic device discovery on its own with both C and Go SDKs.

[2019-02-19 11:59] iain-anderson commented on #78
In the CSDK we have a "Driver" section in the configuration, and we pass its content as a collection of name-value pairs to the protocol driver in the init() callback.

[2019-02-19 18:07] lenny-intel commented on #159
@cloudxxx8 , thanks for the clarification. Yes I already have implementation using new Abstract Registry from go-mod-registry (PR coming soon). This will obsolete the changes you made for PR
#175. I will still review it to ensure I cover everything in my implementation.

[2019-02-19 19:33] tsconn23 commented on #173
Heads up -- Once the following edgex-go PR gets merged, you're really going to want this.
https://github.com/edgexfoundry/edgex-go/pull/1119

@cloudxxx8 @SteveOss @tonyespy

[2019-02-19 21:13] tsconn23 commented on #13
@cloudxxx8 In terms of literal "thread safety" yes, I think the code looks fine. If your concern is whether or not the maps in the deviceCache struct should be controlled by a mutex, I would say absolutely not because that will effectively single-thread the service. Also, in the case where a function loops through the deviceCache using a range, like this:

[code]
The range expression `d.dMap` is e

[2019-02-19 21:25] tsconn23 commented on #85
Please note that the most recent spec for how Consul configuration should be structured is located at the bottom of this page:
https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions

[2019-02-19 21:36] tsconn23 commented on #173
NVM. Submitted PR.

[2019-02-19 22:05] lenny-intel commented on #85
@cloudxxx8, @tonyespy , @tsconn23 , I can handle this as part of my integration with the new Abstract Register, i.e. issue #159. I already have it 90% complete with the stem set properly per link above. Would just need to add the Writeable section for logging.

[2019-02-20 15:12] #173 closed

[2019-02-20 17:58] jduranf commented on #174
After [this PR](https://github.com/edgexfoundry/go-mod-core-contracts/pull/9) I think the only thing to do to fix the issue is update the `go.mod` file.

[2019-02-22 11:34] weichou1229 opened #178 "API /api/v1/device/all/{command} not work"
/api/v1/device/all/{command} has been in the SDK for over a year, but it looks as though it isn't being picked up in go device service.

Request:
`GET http://localhost:49982/api/v1/device/all/xxx`
Response:
`Device: all not found; PUT /api/v1/device/all/xxx`

[2019-02-22 11:35] weichou1229 commented on #178
I found it at https://github.com/IOTechSystems/device-sdk-go/blob/master/internal/controller/restrouter.go#L27, but it seems not work

[2019-02-22 12:50] difince commented on #82
could this issue be assigned to me?

[2019-02-22 14:06] cloudxxx8 commented on #82
@difince Sure, please go ahead.  Thanks.

[2019-02-23 12:54] cloudxxx8 opened #179 "Version Query from ping API"
According to [Releases, Versions & Patches](https://wiki.edgexfoundry.org/pages/viewpage.action?pageId=21823969) document on wiki, the ping API should return the version number instead of `pong`

[2019-02-24 16:47] cloudxxx8 commented on #13
thanks, @tsconn23
@tonyespy do you think we could close this issue now?

[2019-02-24 17:03] cloudxxx8 commented on #13
Is it better to use sync.Map?
https://golang.org/pkg/sync/#Map

[2019-02-24 17:05] cloudxxx8 commented on #174
fixed by https://github.com/edgexfoundry/go-mod-core-contracts/pull/9

[2019-02-24 17:05] #174 closed

[2019-02-24 17:07] cloudxxx8 commented on #78
@weichou1229 please work on this feature as @iain-anderson 's design after #159 merged
you should also apply the change to device-mqtt-go once this issue resolved

[2019-02-25 01:30] cloudxxx8 commented on #77
@tonyespy we didn't publish our godoc. I thought we should do that in this release.

[2019-02-25 08:22] #178 closed

[2019-02-25 16:45] tobiasmo1 opened #181 "Device-Simple's scheduled turnOnSwitch commands result in parameter parsing errors"
Current 'master' branch is mostly functioning for device-sdk-go/edgex-go/go-mod-core-contracts.

When I run my mongoDB container along with ./edgex-go/bin/edgex-launch.sh (via **make build** + **make run**), and then launch the device SDK sample (via **make build** + **./device-simple**), on a 5 second interval it executes a scheduled PUT that results in 400 error.  Condition is local to device-sd

[2019-02-25 17:23] tobiasmo1 commented on #171
GET http://edgex-core-metadata:48081/api/v1/device/servicename/device-simple
returns 404 "Item not found"
GET http://edgex-core-metadata:48081/api/v1/device/name/Simple-Device01
returns 404 "Item not found"

Also...

GET http://edgex-core-metadata:48081/api/v1/deviceservice/Simple-Device01
returns 500 "Invalid object ID"

GET http://edgex-core-metadata:48081/api/v1/deviceservice/name/Simple-Device

[2019-02-25 18:03] tobiasmo1 commented on #171
I will post responses from after first run also.

Currently I am getting this error on startup of device-simple (against a clean mongodb running on non-default port 27018).. I need to confirm several service config files are updated to assure they're aware of correct mongo target:
[code]

[2019-02-25 20:08] tonyespy opened #182 "New DeviceServiceClient error handling logic is wrong"
Issue #142 updated the error handling logic for the error types.ErrNotFound for client calls to AddressableClient and DeviceServiceClient.  The original code did this:

`if _, ok := err.(types.ErrNotFound); ok`

which was changed to this:

`if errsc, ok := err.(*types.ErrServiceClient); ok && (errsc.StatusCode == http.StatusNotFound)`

Maybe this works for the `AddressableClient` calls, but it doe

[2019-02-25 20:36] jduranf commented on #182
The client behavior was modified 100 days ago in edgex-go and then in go-mod-core-contracts [5 days ago](https://github.com/edgexfoundry/go-mod-core-contracts/pull/9). Now, in order to work properly, as I said in #174, go.mod file should be updated in order to fix the issue.

[2019-02-25 20:55] tonyespy commented on #182
Thanks for the explanation, updating go.mod to use "latest" for go-mod-core-contracts does fix the issue. I think keeping it at latest until we release is probably best. That'll keep us honest.

That said, I still am going to file an issue against go-mod-core-contracts regarding the lack of godoc in models/types/error.go, and the fact that checking for a simple **NotFound** return code requires so

[2019-02-25 20:55] tonyespy commented on #181
@tobiasmo1 Are you running the latest code in master?

I tried to reproduce your error and first ran into an unrelated error which prevented me from running device-simple against the latest edgexfoundry snap from the edge channel (r665).  I filed issue #182 for this problem, and will also probably file a separate issue against go-mod-core-contracts.

Once I fixed this issue, I don't see any such e

[2019-02-25 21:10] #182 closed

[2019-02-25 21:44] tobiasmo1 commented on #182
This resolves the discussion on same condition I mentioned in PR#172 .

https://github.com/edgexfoundry/device-sdk-go/pull/172

Thanks Tony!

[2019-02-25 21:50] tobiasmo1 commented on #181
Great, well once I cleaned mongo and restarted, I got the original error again as I reported in Cloud's recent PR https://github.com/edgexfoundry/device-sdk-go/pull/172

I will pull the change and see if it gets all the way through for me now. Thanks!

[2019-02-25 23:03] tobiasmo1 commented on #181
Requires one more change.  The device-go-sdk/go.mod file needs to match what is already set in edgex-go/go.mod.

[code]

[2019-02-26 15:05] iain-anderson opened #187 "Improve HandleReadCommands / HandleWriteCommands API"
A number of suggestions have been made for changes to these functions.

One is that we add the name of the device being queried. This would allow a ProtocolDriver to obtain full device and profile information if necessary via GetDeviceByName(). It would also allow for more informational logging in the implementation.
Another is to reduce the contents of CommandRequest to only those elements that t

[2019-02-27 00:39] tonyespy commented on #181
@tobiasmo1 I merged the change to go.mod, can this be closed out now?

[2019-02-27 01:41] tobiasmo1 commented on #181
@tonyespy It now works on the first run and this is great.

However, I notice that unless I manually clear out database and restart all edgex-go services, it reports the "parseWriteParams: parsing Write parameters failed , unexpected end of JSON input" error.

[2019-02-27 02:10] tobiasmo1 commented on #181
I am debugging it now but just to share what I am seeing, here are the logs from first run, and subsequent runs.

SUCCESFUL (cache and database are in sync; both empty).

[code]

Subsequent runs of device-simple FAIL (no client cache, but existing database entries)..

[code]

[2019-02-27 14:05] cloudxxx8 opened #188 "Device support for multiple protocols"
To meet the new Device data model design in https://github.com/edgexfoundry/go-mod-core-contracts/pull/15/files
`Addressable` in Device data model is replaced by `map[string]map[string]string` (protocols and protocolProperty)

[2019-02-27 21:49] tobiasmo1 commented on #181
Cause of the parseWriteError on subsequent runs is that in the [internal/cache/init.go::InitCache()](https://github.com/edgexfoundry/device-sdk-go/blob/370854b325bf9c85e19a2c882477753cfab1abe0/internal/cache/init.go#L48) function does not retrieve any **HTTPMethod** property from the scheduledEvent's addressable.

How does that map to producing this error?

It appears that because we do not store

[2019-02-28 16:07] tobiasmo1 commented on #181
Cause:
The HTTPMethod field within Addressable goes missing when the table/collection is retrieved using a straightforward globalsign/mgo query.
So far this appears to occur only within the context of fetching a Scheduled Event, but whether ScheduledEvent object is fetched alone, all, by name or id, etc.

Tracking this down further, I found that the direct where is made like this:

Found here:  ed

[2019-02-28 23:07] tobiasmo1 opened #189 "Transition DSDK to New Support-Scheduler"
An important target for Edinburgh release is the deprecation of Internal/Metadata Scheduler which is replaced by the [Support Scheduler service](https://github.com/edgexfoundry/edgex-go/tree/master/internal/support/scheduler).

We need to transition **from** current go-mod-core-contracts data models: [Schedule](https://github.com/edgexfoundry/go-mod-core-contracts/blob/master/models/schedule.go) /

[2019-02-28 23:43] tsconn23 commented on #189
@xmlviking for visibility

[2019-02-28 23:54] lenny-intel commented on #159
PR #186 addressed this issue.

[2019-02-28 23:54] #159 closed

[2019-02-28 23:55] lenny-intel commented on #85
PR #186 addressed this issue.

[2019-02-28 23:55] #85 closed

[2019-03-01 02:39] xmlviking commented on #189
Looks good.  Thanks you.

[2019-03-01 13:57] difince commented on #82
I consider to add in the configuration.tolm files (section [Service]) these new properties:
DependentSrvRetryCount = 50
DependentSrvRetryInterval = 2
Do you have another suggestion about the properties names ?

[2019-03-01 14:12] difince commented on #82
//DependentSrvRetryCount is the max number of times the DS will try to connect to all dependent services.
	//If exceeded for even one dependent service, the DS will exit.
	DependentSrvRetryCount int
	//DependentSrvRetryInterval is the time in sec the DS will wait between each retry.
	DependentSrvRetryInterval int

[2019-03-01 16:40] tsconn23 opened #190 "Health Check Unsuccessful"
After the recent PR #186 confirmed device services are registering themselves with Consul, however the health check is failing. Needs root cause and troubleshooting.

<img width="606" alt="screen shot 2019-03-01 at 10 31 27 am" src="https://user-images.githubusercontent.com/1342980/53652395-68fb0200-3c0e-11e9-8132-7b7d45f73932.png">

[2019-03-01 16:45] difince commented on #82
What about another approach.
Instead of having in [Service] section common properties for all services/clients the DS depends on, we could have per each dependent client (Data, Metadata) this configuration:
[code]

This way we will have a freedom to configure different values per each dependent client.

If the approach of having common properties for all clients is chosen - instead of "DependentSr

[2019-03-01 19:42] tsconn23 commented on #190
Further investigation shows that the above result happens when the device-simple is started by itself, independently of the other services. So for example, if the availability checks for metadata or core-data fail, the device-simple health check (and by extension all device services implementing the SDK) also fails.

[2019-03-01 19:51] lenny-intel commented on #190
@tsconn23 isn't having the other services running a requirement of the device service?

[2019-03-01 20:00] tsconn23 commented on #190
@lenny-intel I don't see why it would be, especially if we ever deploy into a load-balanced, HA environment. Services that are down, may come back up. A device service should be autonomous in my opinion w/r/t its startup. EdgeX services aren't a dependency like Consul or Mongo.

[2019-03-01 20:07] lenny-intel opened #191 "device-simple Docker build is incomplete"
The configuration.toml file isn't copied into the image
The service isn't started with proper option for registry and loading toml file.
Also, the Docker file needs to be updated to conform with the Docker files in edgex-go contents and location.

[2019-03-01 20:09] tsconn23 commented on #190
Closing as this has been root caused now. Considering opening another issue related to the hard dependency on startup with other edgex services.

[2019-03-01 20:09] #190 closed

[2019-03-01 23:25] anonymouse64 commented on #190
@tsconn23 the dependency on other EdgeX services is in the device services requirement doc that @tonyespy wrote

[2019-03-02 00:13] tsconn23 commented on #28
FYI I've started working on this. I was blocked this afternoon on other stuff, so I started looking at this issue as a way to become more familiar with the Device SDK. I have implemented one unit test so far. Most of my time has been spent trying to decouple the existing logic so that it can be testable in the first place. You can find my progress in this feature branch.
https://github.com/tsconn2

[2019-03-02 23:06] tsconn23 commented on #28
Making notes as I go --

- There is currently no way to initialize an individual cache for testing purposes. The only way to create a cache is to call `/internal/cache/init.go::InitCache()`. This makes live service calls to populate cache entities. I can't make live service calls during a unit test, and additionally I only want to populate the caches relevant to my test.
- The above will require e

[2019-03-04 08:50] cloudxxx8 commented on #6
fixed by #186

[2019-03-04 08:50] #6 closed

[2019-03-04 09:04] cloudxxx8 commented on #191
fixed by #192

[2019-03-04 09:04] #191 closed

[2019-03-04 10:25] SteveOss commented on #107
Just a heads up that we will be voting today on the device services working group as to what the default encoding should be for floating point values. One vote per contributing company, either "base64" or "string". If you can't make the meeting you can e-mail me your vote.

[2019-03-04 14:45] cloudxxx8 commented on #28
@tsconn23 should we open another issue to improve the testablility or modify them with this issue?

[2019-03-04 16:54] #13 closed

[2019-03-04 22:01] alexcourouble commented on #167
Can this be assigned to me? Seems like a good issue to start with to get familiarized with the project.

[2019-03-05 09:32] cloudxxx8 commented on #28
We might be able to test by implementing the mock caches because they are interface now

[2019-03-05 10:15] cloudxxx8 commented on #167
@alexcourouble sure, please take it.  Thank you :)

[2019-03-05 10:23] cloudxxx8 commented on #82
Although this way provides more flexibility, it becomes more complex from my point of view.  We would  make the config file longer.  It is nice for some circumstance, but the current dependency services might not need the different parameters.  I am fine with both approaches.

@tonyespy @tobiasmo1 @iain-anderson @SteveOss @lenny-intel how do you think?

[2019-03-05 10:56] iain-anderson commented on #107
Suggest "eNotation" to specify conventional float format.
https://en.wikipedia.org/wiki/Scientific_notation#E-notation

[2019-03-05 11:06] iain-anderson commented on #82
I don't think having individual retry configuration gains us much. Would prefer:

[Clients]
  RetryCount = 10
  RetryInterval = 1
  [Clients.Data]
    Host = "localhost"
...

[2019-03-05 11:36] cloudxxx8 commented on #107
@tonyespy @SteveOss
Please help confirm whether we need to add "floatEncoding" to the ValueProperty & ValueDescriptor.  In my opinion, an additional field is overkilled because it is useless when the field is not floating type.
If yes, we have to open a new issue to go-mod-core-contracts, and we might need some help from @tsconn23.
Or, a simple property in configuration can be easily achieved

[2019-03-05 11:37] cloudxxx8 commented on #181
According to the issue reported by @RoshDevi
https://github.com/edgexfoundry/device-modbus-go/issues/27
This issue also happens in v0.7.1

[2019-03-05 15:06] cloudxxx8 opened #193 "Remove the dependency of Schedule and Schedule Event from SDK"
We have new Auto Events model for the Device Service internal scheduling mechanism, and decided to remove the dependency of Schedule and Schedule Event according the Device Service working group meeting on 4th March.

[2019-03-05 15:12] lenny-intel commented on #82
I agree with @iain-anderson .

[2019-03-05 15:34] tsconn23 opened #195 "Implement readings cache in Device Services"
The SDKs will implement a means to provide a cache of readings. This allows the collection and response for a request of a reading to be decoupled (and more asynchronous).

Moved from original location
https://github.com/edgexfoundry/edgex-go/issues/829

[2019-03-06 03:07] cloudxxx8 commented on #150
@tonyespy , @brandonforster would like to provide his help on this issue.  Please provide some guidance about how to resolve it.  We could discuss the solution here.  Thanks.

[2019-03-06 06:16] cloudxxx8 commented on #107
Sorry, I just noticed we had decision in the working group this week.  I didn't catch it.  I just opened an issue to go-mod-core-contracts
https://github.com/edgexfoundry/go-mod-core-contracts/issues/22

[2019-03-06 09:03] #193 closed

[2019-03-06 17:51] brandonforster commented on #150
Tony, I've got some bandwidth coming up and would like to help out. Do you need any help with this issue? Would you like me to take it over?

[2019-03-07 10:20] iain-anderson commented on #82
Actually... is this not what the existing configuration entries Service/Timeout and Service/ConnectRetries are for?

[2019-03-07 12:29] difince commented on #82
yep..
We could use already existing property- Service/ConnectRetries (that currently is never used) and add new property as RetryInterval - this way not mixing between request "timeout" and request retry interval ?

[2019-03-07 12:32] iain-anderson commented on #82
Would prefer we stick with Timeout so that it matches what the C SDK does

[2019-03-07 17:02] #188 closed

[2019-03-08 07:00] cloudxxx8 commented on #181
schedule and schedule event has bee removed from device-sdk-go
according to the discussion in WG meeting, close this issue without fix

[2019-03-08 07:00] #181 closed

[2019-03-08 07:06] cloudxxx8 opened #197 "Simplify the ProtocolDriver API by new type definition"
I noticed the current protocols nested map argument in ProtocolDriver API is hard to be understood by the new driver developer.  I am proposing to use a type definition to wrap this logic.

[2019-03-08 10:17] difince commented on #179
Can this be assigned to me?

[2019-03-08 10:35] SteveOss commented on #179
Hi @difince for some reason your name is not appearing on Assignee list, so I can't assign. @cloudxxx8 can you do this?

[2019-03-08 14:41] cloudxxx8 commented on #179
@difince we can't assign to you on the issue, but leave a comment here is enough.  please take it :)

[2019-03-08 19:31] alexcourouble opened #201 "Update Device SDK Go document for Edinburgh release"
Hi,

This is the only doc I was able to find for device-sdk-go: https://docs.edgexfoundry.org/Ch-GettingStartedSDK.html

It seems outdated (it mentions go glide and make prepare which do not work with the current version).

Is there an updated version of this doc that would work with the master branch?

I'd love to help updating it, if needed.

[2019-03-08 23:30] tonyespy commented on #189
Hmmm, this doesn't sound quite right to me.

The original Java SDK allowed for both internal SDK device service scheduling, and external scheduling (handled by Support Scheduler) in order to trigger readings from a device service on a scheduled basis. Both used `Schedule` and `ScheduleEvent`objects read from Core Metadata. Both also unfortunately used the same mechanism REST API calls to drive the

[2019-03-09 01:01] tonyespy commented on #197
While I'm not convinced a new type is absolutely necessary for this, I would suggest that we fixup the godoc for our models in go-mod-core-contracts, and in this case some example usage would go a long way towards clarifying the usage of this data structure.  This the current godoc (which doesn't follow convention) for `Device`:

[code]

[2019-03-09 01:05] tsconn23 commented on #189
+1 to @tonyespy 's comments, We did say that there was no need to integrate with the Scheduler service and that AutoEvents would serve the purpose. This is captured in last week's [meeting notes](https://wiki.edgexfoundry.org/display/FA/Device+and+Device+SDK+Working+Group?preview=/329488/27492394/Device%20Service%20WG-3-4-19.pdf). I think that requirement should be removed from the issue.

As to `

[2019-03-09 04:21] cloudxxx8 commented on #201
@alexcourouble the document is for our released version- delhi, so please use delhi branch with this document.  The master branch is for Edinburgh release (next release), and the code is still developing.  we will provide more document during code freeze (April first).  It's nice to get your help for the documentation :)

[2019-03-10 19:25] tobiasmo1 commented on #189
AutoEvents allow device service to simulate a push of their readings as events; rather than being pulled from the external Support Scheduler. To me this is a consideration likely driven by systems requirements, _perhaps already resolved by the team_.

As the number of connected devices scales at the edge, given the impact on network and compute i/o, it seems particularly valuable for Scheduler, Ru

[2019-03-10 22:36] tonyespy opened #202 "Log messages shouldn't dump entire objects"
ERROR log statements should only include enough information in the log message to diagnose what went wrong vs. dump the current state of entire objects.

The function createDevice() in internal/provision/devices.go dumps the entire offending object in an [ERROR log message](https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/provision/devices.go#L63) when a request to add a new devi

[2019-03-11 02:19] tobiasmo1 commented on #202
Good catch Tony. Also a reminder that it appears this could needlessly leak sensitive information into logs. I suspect that now supplying a correlation id is sufficient to replace these contents; hopefully even for DEBUG purposes.

[2019-03-11 09:01] cloudxxx8 commented on #158
fixed by #200

[2019-03-11 15:27] tobiasmo1 commented on #107
Usability to be improved by assigning default encoding configuration to DS SDK, influenced by System Management WG.

[2019-03-11 15:38] tobiasmo1 commented on #189
AutoEvents to provide DS SDK functionality needed in Edinburgh. As an enhancement we will consider adding configuration.toml property to define local vs external schedules. With external invoking Support Scheduler Interval/IntervalActions.

[2019-03-11 16:37] iain-anderson commented on #150
So are we saying that we should always use the `DeviceResource` name, on the basis that that is what core-data and other upstream services need in order to do ValueDescriptor lookups? That makes sense to me but it means that the `parameter` field in a `ResourceObject` is superfluous for get operations, and confusing for set operations (in that it allows a datapoint's name to be different according

[2019-03-11 16:43] iain-anderson opened #206 "Default encoding for float to be determined by system-level config"
_Originally posted by @tobiasmo1 in https://github.com/edgexfoundry/device-sdk-go/issues/107#issuecomment-471586854_

Depends on: mechanism for system-level configuration

[2019-03-11 17:10] cloudxxx8 commented on #28
@tsconn23 please help take a look the work from @FelixTing
https://github.com/FelixTing/device-sdk-go/commit/6bc748ab6022e9dab4dc4e1ca2e1895a16ca077a

He modified your work without the refactoring.  If you agree, he could help accomplish the unit test for this release.

[2019-03-11 18:56] tonyespy commented on #189
@tobiasmo1 The missing piece for me was understanding that Interval/IntervalActions were meant as replacements for Schedule/ScheduleEvents. I'm not sure I totally agree with the rationale for creating them as opposed to continuing to use Schedule/ScheduleEvents, but that's not my domain...  Sorry for the confusion.

That said, I agree with deferring this issue to Fuji.

[2019-03-11 20:23] SteveOss commented on #189
Ditto. I presumed Schedule and friends were remaining as is. The intent of Actions was to disambiguate
between local SDK polling type functionality and the more general (external) scheduling. In general I
don't believe the SDK should support the configuration of schedules, both because it introduces
unnecessary service coupling and because I see these sort of higher level scheduling activities as

[2019-03-12 05:51] #78 closed

[2019-03-12 16:37] tsconn23 commented on #76
I'm asking @brandonforster to defer work on this for now until more clarity around message structure is obtained. The current SDK logger utilizes the `contracts.LoggingClient` through an alias so log messages are currently output as key/value pairs, which is a step in the right direction.

You can find documentation related to the existing keys here:
https://github.com/edgexfoundry/edgex-go/blob/m

[2019-03-13 21:33] tobiasmo1 opened #212 "Put command with no parameters should return 400 error"
Return 400 error if **execWriteCmd** is called with no params; e.g., parseWriteParams receives empty params string.

[2019-03-14 06:30] cloudxxx8 commented on #212
duplicated to #123

[2019-03-14 06:47] cloudxxx8 commented on #212
we can fix in #211 together

[2019-03-14 13:53] cloudxxx8 opened #213 "Proposed changes for CommandRequest and CommandValue"
There have been a couple of changes to the get and put handling functions in the GO SDK - device names are now passed to the driver, and the new ProtocolProperties structure is used instead of Addressables.
We also propose to rework the CommandRequest and CommandValue structure as follows:

1) Remove resourceoperation. It does not hold information vital to the driver, and is not even available whe

[2019-03-15 16:15] cloudxxx8 commented on #212
fixed by #211

[2019-03-15 16:15] #212 closed

[2019-03-15 16:15] cloudxxx8 commented on #123
fixed by #211

[2019-03-15 16:15] #123 closed

[2019-03-15 16:24] #197 closed

[2019-03-15 16:47] difince commented on #202
@tobiasmo1 No, currently the correlation id is not part of the error log messages.
Could I work on this issue taking in consideration [https://github.com/edgexfoundry/go-mod-core-contracts/issues/27](url)

[2019-03-15 16:49] alexcourouble commented on #167
Should this code live in `main.go` or `simpledriver.go`?

[2019-03-15 17:03] cloudxxx8 commented on #167
No, it should be in bootstrap.go or service.go, because it needs to reside in SDK.
main.go or simpledriver.go are under example

[2019-03-15 17:11] #15 closed

[2019-03-15 17:12] #158 closed

[2019-03-16 07:05] cloudxxx8 commented on #202
@difince yes, please take this issue, and I will help review the change.  thanks.

[2019-03-16 07:15] cloudxxx8 commented on #28
@tsconn23 May we take over this task by copying your existing test with the current code structure?
Then, we could open another issue to make further refactoring in fuji

[2019-03-16 17:07] #88 closed

[2019-03-16 17:11] cloudxxx8 opened #215 "Implement AutoEvent mechanism"
Device Services should be able to polling resources according to AutoEvent of Device model

[2019-03-16 21:05] tsconn23 commented on #28
@cloudxxx8 That's fine. I'm not focused on this at the moment.

[2019-03-17 01:26] cloudxxx8 commented on #28
thanks, Trevor
@FelixTing , please continue to work on this item.

[2019-03-18 15:44] cloudxxx8 opened #217 "Unregister from Registry when the Device Service stops"
Currently, when the Device Service stops gracefully, it doesn't unregester itself from Registry.

[2019-03-18 16:45] lenny-intel commented on #217
Currently the Abstract Registry doesn't have an interface for Unregister, so that will need to be added to support this issue.

[2019-03-19 01:55] tsconn23 commented on #217
I don't know that it should unregister. The health check in Consul will fail if the service goes down. If the service unregisters, we wouldn't have that visibility.

[2019-03-19 02:52] cloudxxx8 commented on #217
if the IP address is dynamic and allow multiple instance of the same service, we might not want legacy IPs are kept.  On the other hand, we might need to know whether the service is stopped on purpose or encounter error.
It is normally part of the self-registration pattern.  I just bring up this topic, and we could discuss which approach we want.
https://microservices.io/patterns/self-registration

[2019-03-19 10:55] cloudxxx8 commented on #107
PR https://github.com/edgexfoundry/go-mod-core-contracts/pull/38 opened

[2019-03-19 17:22] cloudxxx8 commented on #167
fixed by #214

[2019-03-19 17:22] #167 closed

[2019-03-19 21:44] tsconn23 commented on #217
Ah, I see. You're talking about normal shutdown in a high availability scenario -- auto-scaling for example. I think this might be a Fuji topic.

[2019-03-20 23:53] tonyespy commented on #217
I think any service should be de-registering itself as part of normal shutdown. Otherwise, if a service's configuration changes and re-starts, how would it's service info get updated in the registry? If it doesn't un-register and it restarts, does the registry return an error when the service tries to register again?

That said, we did say in the Service Name design document that a service should

[2019-03-21 00:00] tonyespy opened #218 "command endpoint doesn't respond to device resource names"
The device-sdk-go (latest in master) doesn't respond to the command endpoint if the given command name is a device resource. It only responds to a command request if the given name is a resource. For instance, device-random (again latest master) rejects the following:

/api/v1/device/c31d0300-e0ca-4be2-9dea-2569ea2d9a54/RandomValue_Int8

...but accepts:

/api/v1/device/c31d0300-e0ca-4be2-9dea-2569

[2019-03-21 01:19] tsconn23 commented on #217
Its configuration would have to be changed in the registry itself since services don't bootstrap their config.

It would not throw an error. The health check would simply start passing again.

[2019-03-21 04:21] cloudxxx8 commented on #171
@tobiasmo1 I can re-run device-simple in master release now.  Could you please help confirm whether this issue is still valid?  Thanks.

[2019-03-21 21:27] akramtexas commented on #217
`Initial thoughts`
The manual unregistering of a service as a potential capability to be added to the SMA may make sense as a `second` (follow up) step to, `first`, incorporating a manifest mechanism in the SMA (thinking here of the `discoverability` aspects of services). Given such a sequencing, and hence the timing for its realization, I think this might be a Fuji topic.

This requires some clar

[2019-03-21 22:41] tsconn23 commented on #217
So @akramtexas the manifest is for use in cases where there isn't a Registry involved. When there is a Registry involved, the issue is whether or not services should unregister themselves upon graceful shutdown. I think @cloudxxx8 and @tonyespy are advocating that they should.

My original question is based on the fact that we do not currently have an Unregister() method in the Registry abstractio

[2019-03-22 14:06] akramtexas commented on #217
Thanks @tsconn23 for clarifying the use case details. With that, I will revisit the possibility of the SMA performing the `unregister` operation in lieu of adding the `Unregister()` method 👍

[2019-03-22 21:59] tsconn23 opened #219 "Logging import package name change"
For full context regarding this interlock, please see here https://github.com/edgexfoundry/go-mod-core-contracts/issues/46

PR https://github.com/edgexfoundry/go-mod-core-contracts/pull/47 is pending. If the dependency in the go.mod is updated after this PR is merged, then the import path will need to be changed.

[2019-03-23 06:36] cloudxxx8 commented on #219
@weichou1229 please help update all the logger import and go.mod after edgexfoundry/go-mod-core-contracts#47 merged

[2019-03-25 16:03] tobiasmo1 opened #220 "Core Contracts content type constants"
go-mod-core-contracts now declares the constants for "Content-Type" and "application/json" along with other headers.

Let's reference these within DeviceSDK to assure consistency with client invocations.

[2019-03-25 16:31] #220 closed

[2019-03-27 09:32] #219 closed

[2019-03-27 14:27] jduranf commented on #187
Those change have already done. Maybe this issue can be closed.

[2019-03-27 14:32] iain-anderson commented on #187
Some of them have, and the rest is covered in #213 so yes I think so.

[2019-03-27 14:33] #187 closed

[2019-03-27 18:02] lenny-intel opened #224 "Update to latest go-mod-registry and fix imports"
Once PR https://github.com/edgexfoundry/go-mod-registry/pull/6 has been merged,
`go-mod-registry` will have been refactored to conform with using `/pkg` and `/internal` appropriately. This will require some imports and namespace changes.

First update go.mod to pull in latest go-mode-registry
Then update any failing imports and namespaces.

[2019-03-28 15:37] iain-anderson commented on #217
What should occur in the scenario where the registry is in use and a service's configured port is changed?
The service can be notified of the update to its configuration and reconfigure its own endpoint accordingly, but can it then update its registration information in the registry, and can this update be notified to the other running services?

[2019-03-28 15:49] tsconn23 commented on #217
@iain-anderson In the core services that would require a service restart since the port is not in the `Writable` section of the config. Service A would register itself using the new port after restart. Service B should use a client implementing the [Endpointer](https://github.com/edgexfoundry/go-mod-core-contracts/blob/e53159cfbe2cc8832483252ada48f1a5475584f6/clients/endpointer.go#L21) interface t

[2019-03-28 15:56] iain-anderson commented on #217
OK thanks

[2019-03-29 16:00] iain-anderson commented on #217
Would it be better (SSOT) to have Endpointer work by reading the other service's configuration directly?

[2019-03-30 21:34] tsconn23 commented on #217
@iain-anderson If a service is started with `--registry` then it needs to use the registry because that's  the centralized location of current configuration information. An endpoint host/port may not be defined by config as in the case of a cloud/HA deployment. In this case a service instance may also go away unexpectedly due to scaling, or there could be multiple instances behind a single service

[2019-04-01 14:35] #224 closed

[2019-04-01 20:01] tonyespy opened #227 "SDK command endpoint only accepts [Core]Commands"
While working on core-contracts [issue #27](https://github.com/edgexfoundry/go-mod-core-contracts/issues/27) (remove device profile from device), I wanted to check the names of the readings being returned when calling the command endpoint with certain resource names (aka what we're now going to call device-commands).  What I discovered is that the SDK validates the incoming command name against th

[2019-04-01 20:06] lenny-intel opened #228 "Update to latest go-mod-registry for Service crash Fix"
Service crashing when Consul service has been fixed in latest go-mod-registry.

See this issue for details: https://github.com/edgexfoundry/go-mod-registry/issues/3

[2019-04-01 20:17] tonyespy commented on #227
@iain-anderson Can you please review?

[2019-04-01 21:48] #228 closed

[2019-04-02 00:34] tonyespy commented on #150
I don't think this issue is really valid...

I went back and re-visited both the Java SDK and Tyler's comments in response to our questions about device profiles.

The Java ProfileStore class creates value descriptors based on **ResourceOperation.Parameter** names (see the [addDevice(Device device)](https://github.com/edgexfoundry/device-sdk-tools/blob/master/templates/ProfileStore.java#L85) funct

[2019-04-02 09:57] iain-anderson commented on #227
Suggest this is fixed as part of #218 - probably by removing the use of CommandExists().

[2019-04-02 10:12] iain-anderson commented on #150
I think there's still an issue here one way or another. The SDK generates Value Descriptors with DeviceResource names, and generates Readings with Parameter names (this will have to change to an extent with #218 as that will allow Readings without an associated Resource Operation).

[2019-04-02 18:46] tobiasmo1 opened #230 "device-simple crash on startup"
The device-simple exits with a segmentation fault after attempting to load configuration.toml.

**Scenario 1 - Running from GoLand/other IDE:**
The default working directory that populates a developer's runtime configuration after cloning and loading DSDK project will be:

Note that it will not implicitly append `/example/cmd/device-simple/`

**Scenario 2 - Running from terminal:**
When running de

[2019-04-02 18:50] tsconn23 commented on #230
Be advised there's a cmd line parameter allowing a user to specify where the config directory is in cases where the runtime location is non-standard. Example, I have to use this for everything I run in GoLand.

[code]

[2019-04-02 19:07] tobiasmo1 commented on #230
Understood. If a full path is specified supplying the confdir works well. The default is using a relative path (./res).
As Trevor calls out, the implementation must also honor the alternate configuration directory (if specified).

[2019-04-02 19:57] tobiasmo1 commented on #230
+ @SteveOss
The corresponding behavior expected from the profile cmdline parameter is unclear to me however. Is this always expected to be a full path to a device profile .yaml file, or an alternate name of a device profile .yaml file found within the confDir?

[code]

[2019-04-02 20:01] tobiasmo1 commented on #230
To be more specific, I see entries within the configuration.toml that declare profile location (i.e., distinct from confDir).

https://github.com/edgexfoundry/device-sdk-go/blob/master/example/cmd/device-simple/res/configuration.toml#L52

I also see distinct profile assigned to each device being created. A single profile parameter would not seem to support this configuration .toml paradigm.
https:

[2019-04-03 22:42] tonyespy commented on #227
I think it's related to #218, but not solely resolved. Let's discuss at our upcoming meeting.

[2019-04-03 22:49] tonyespy opened #233 "device-sdk-go encodes events twice when responding to a command REST call"
When a successful REST API call is made to a device service's command endpoint, the SDK creates an event containing one or more readings and:

 * sends it to Core Data's event endpoint as CBOR or JSON
 * sends it to the caller as CBOR or JSON

As currently implemented the encoding of the event and readings it contains is done twice, once in the core-contracts event client [Add](https://github.com/

[2019-04-04 02:27] tsconn23 commented on #233
I think by the above comment you mean "Ideally we'd only implement the encoding in one place" b/c the core-contracts aren't involved in this operation as far as I can tell. It's not that we're encoding something twice in one execution path, it's that there's two different places where the encoding is carried out.

I'm actually not clear what's happening to the event here because the only way to ge

[2019-04-04 02:54] tobiasmo1 commented on #233
If there is time, could we cover this topic at Core WG tomorrow?

[2019-04-05 19:47] tsconn23 opened #234 "Interlock -- Rename DeviceProfile Properties (Go SDK)"
See edgexfoundry/go-mod-core-contracts#59 for context.

References to the properties in the above issue need to be changed in device-sdk-go for integration.

[2019-04-05 19:47] tsconn23 opened #235 "Interlock -- Rename DeviceProfile Properties (C SDK)"
See edgexfoundry/go-mod-core-contracts#59 for context.

References to the properties in the above issue need to be changed in device-sdk-go for integration.

[2019-04-06 14:43] cloudxxx8 commented on #230
fixed by #231

[2019-04-06 14:43] #230 closed

[2019-04-07 10:37] cloudxxx8 opened #236 "Clean up the format, constants, and unused functions"
run go fmt on whole project
move some hard code string to constants
remove unused functions
rename import package to meet the Go coding convention, such as ds_models

[2019-04-07 10:37] cloudxxx8 opened #237 "Refactor callback.go to different go files"
separate the logic of different callback functions to different go files

[2019-04-08 13:45] tonyespy commented on #233
When Core Command makes a query (a Get REST call) to a device service, the response payload is the same JSON encoded Event as gets sent to Core Data. Core Command indeed passes this response along to an external called (although I doubt we have a black box test to verify this). So there is a single execution path in a device service where an event and the readings it contains are JSON encoded twic

[2019-04-09 18:00] tobiasmo1 opened #239 "Consistently apply import alias go-mod-core-contract models"
go-mod-core-contract is commonly imported as a package in DS SDK source files.

To reference models originating from this module in a manner consistent with edgex-go services, let's alias the import as "contract".

[2019-04-09 23:04] tobiasmo1 opened #240 "DS GET Command Overloaded"
A device service implemented with the SDK currently handles GET commands by:
a) responding to caller with http **body** that contains the event/reading(s) emitted by the queried device endpoint
-and-
b) issues a corresponding **event** to core-data

In both cases the response body and event are encoded as application/json or application/cbor based on the data type of readings within the event cont

[2019-04-10 08:40] SteveOss commented on #240
I think we want 3 possible behaviours here:

1 - Return event as a response, do not publish event to core data
2 - Do not return event as a response, publish event to core data
3 - Return event as a response, publish event to core data

Don't think not returning or publishing the event (possible option 4) makes any sense ?

[2019-04-10 09:21] iain-anderson commented on #240
[code]

[2019-04-10 14:47] tobiasmo1 commented on #240
Should publish=only be the default to serve primary workflow? It otherwise produces two operating paths.

[code]

[2019-04-10 14:51] tobiasmo1 commented on #240
My thinking here is to have default be prudent with memory usage at the edge; which could be exacerbated by embedding objects in value or due to potential size of binary payload.

[2019-04-10 15:01] SteveOss commented on #240
@tobiasmo1 Agree that default should definitely not be "yes". Whether default is to return or publish
event I guess depends on what we think the typical usage is. If being called from external application
"only" makers sense, but not the case if being driven from scheduler.

[2019-04-12 08:22] cloudxxx8 commented on #234
fixed by #241

[2019-04-12 08:22] #234 closed

[2019-04-12 08:24] cloudxxx8 commented on #235
moved this issue to https://github.com/edgexfoundry/device-sdk-c/issues/105

[2019-04-12 08:24] #235 closed

[2019-04-12 14:43] cloudxxx8 commented on #240
if it is driven by AutoEvent, the behavior is only sending to Core Data without response event
AutoEvent calls handler directly, not controller

[2019-04-12 15:32] tobiasmo1 commented on #240
Lets enumerate potential callers to identify intended usage patterns.

DS command endpoint(s) get invoked by external apps and Support Scheduler. Also as result of condition match in Rules Engine? Other contexts?

[2019-04-13 02:00] anonymouse64 opened #242 "Can't ctrl-c exit from a device service during initialization"
To reproduce:
- Don't run EdgeX at all
- Modify the configuration.toml to have `ConnectRetries = 10`
- Run `device-simple`

Now, you can't exit device-simple until after it times out

[2019-04-13 15:05] cloudxxx8 commented on #242
right, it's a bug.  the service doesn't listen to the OS signal during initialization
thanks for catching it

[2019-04-15 23:44] #215 closed

[2019-04-17 14:54] cloudxxx8 opened #244 "Remove of DeviceProfile from Device struct"
To support https://github.com/edgexfoundry/go-mod-core-contracts/issues/27 and https://github.com/edgexfoundry/go-mod-core-contracts/issues/40, SDK should modify the code to query Profile cache for every reference of Device Profile instead of calling device.Profile

[2019-04-18 16:40] tobiasmo1 opened #245 "Rename fields within Device Profile's ResourceOperation"
Requires Triage

As part of completing earlier name changes in Device Profile (ref issue https://github.com/edgexfoundry/device-sdk-go/issues/168), the ResourceOperation model (and references to these fields in clients such as DS SDK, device services) should be updated for consistency:

1. In go-mod-core-contracts/contracts/models/resourceoperation.go
Rename ResourceOperation.Object -> ResourceOpe

[2019-04-19 01:50] tobiasmo1 opened #246 "Pin to v1.1.4 of CBOR library"
Version 1.1.4 of github.com/ugorji/go was recently released.

Update to pin to this module in both go-mod-core-contracts and device-sdk-go.

[2019-04-19 16:28] tonyespy opened #247 "Example Simple-Driver.yaml ResourceOperations still include "property=value""
The original Java device profiles required resource operations to include the attribute/value "property=value". The idea was to eventually allow other values to be specified, however as this was never used, "property" was removed from the ResourceOperation model.

As such, we should remove "property=value" from the example device profile.

[2019-04-19 17:23] alexcourouble commented on #244
Is this something I can work on? Or is @difince doing this?

[2019-04-19 19:02] tsconn23 commented on #244
I have a very specific plan I'm working on with @difince for this effort

[2019-04-20 02:58] #28 closed

[2019-04-20 21:46] tobiasmo1 opened #250 "Add GoMetaLinter to Makefile"
[PR#249](https://github.com/edgexfoundry/device-sdk-go/pull/249) performs a clean up of SDK codebase.

To help maintain the condition of the codebase going forward, let's update Makefile to add linting as a regular step in build/test process.

[2019-04-22 14:28] anonymouse64 commented on #250
In addition to that, similar to other edgexfoundry repos the `make test` target should also check that the code is formatted correctly with `gofmt`. See @lenny-intel's PR at https://github.com/edgexfoundry/go-mod-registry/pull/8 for an example of how this should work

[2019-04-22 15:29] tonyespy commented on #150
OK, after a bit more investigation, the reason that Readings are being generated with Name=RO.Parameter is that @cloudxxx8 made a decision at some point to change how value descriptors are populated.  The original Java SDK populated value descriptors with the name of _device resources_, which makes sense because the device resources define the value properties.

@cloudxxx8 mentioned that using the

[2019-04-22 15:39] #236 closed

[2019-04-22 15:39] #239 closed

[2019-04-22 22:19] tonyespy commented on #218
After reviewing the original Java SDK, I believe my understanding of how this all works is slightly off.

When importing a device profile, a list of valid commands is generated based on the defined resource operations in each resource (now called device command). When one of these resource operations results in a new valid command, the associated device resource is also enabled.

What this means w

[2019-04-22 23:19] tonyespy opened #252 "Missing parameter attribute in a device profile resource operation leads to value descriptors w/out a name"
If a device profile includes a device command with a resource operation that lacks a parameter attribute, a value descriptor will be created without a name.

Reproduced using the latest snap from the edge channel version 1.0.0-20190422+6305f79      (804), and the latest device-sdk-go (as of today).

Here's the diff from device-sdk-go:

[code]

I also removed the AutoEvents defined in the example c

[2019-04-23 10:10] #237 closed

[2019-04-23 11:26] cloudxxx8 opened #253 "[Proposal] Use command line option to setting the registry path"
To meet the behavior of C SDK and make users more easy to set up the registry, we suggest to make -r or --registry to input the path string instead of a simple boolean

-r, --registry=[url]

[2019-04-23 15:11] iain-anderson commented on #150
For info, C SDK currently generates Readings with name = DeviceResource.Name, and generates ValueDescriptors also with name = DeviceResource.Name.
ValueDescriptors are generated for each DeviceResource in every DeviceProfile that is created (ie, no check on whether they are used in a CoreCommand).

[2019-04-23 15:39] iain-anderson commented on #240
Another possibility - if the Readings cache is implemented, we may wish to give the option of sending to core-data only if there are changes.

[2019-04-23 16:07] cloudxxx8 commented on #213
@iain-anderson

I found out I need an additional field, floatEncoding, here.  How could you determine the float representation here?  Do you agree with adding it?

[code]

[2019-04-23 16:12] iain-anderson commented on #213
Can you not get it from the device profile?

[2019-04-23 16:17] cloudxxx8 commented on #213
I am making the encoding inside the CommandValue, but there is no Device Profile information inside, so I can't get it from Device Profile.

[2019-04-23 16:26] iain-anderson commented on #213
OK, but aren't you calling from eg execReadCmd() where all the information should be available

[2019-04-23 21:51] tonyespy commented on #213
These changes seem good on the surface, however as value descriptor names are now being populated with RO.parameter instead of RO.object (which is a device resource name), I'm not sure the SDK is supposed could look up find the associated RO from a device resource name in order to properly populate Reading.Name.

See issue #150 for more details.

[2019-04-23 21:58] tonyespy commented on #213
As for the float encoding, it's supposed to be included as part of the PropertyValue associated with a device resource. See my previous comment. I don't think the float encoding needs to be in either of these objects as the CommandValue has a numericValue field which holds the actual underlying bytes of a float32 or float64.  The SDK then encodes these bytes before placing into a Reading, or decod

[2019-04-23 22:09] cloudxxx8 commented on #213
Currently, I encode it during `CommandValue.ValueToString()`
If we encode it outside the CommandValue, what we should return in `ValueToString()` func?

[2019-04-23 22:17] cloudxxx8 commented on #150
@tonyespy how about I change the ValueDescriptors name generated from DeviceResource.Name, and make it the same as C SDK?
In this case, I don't think `PropertyValue.parameter` can do anything.  Could we remove it?

[2019-04-23 22:29] tonyespy commented on #213
Perhaps you should consider adding a CommandValue method for floats with a new parameter for floatEncoding type.

Are you combining a PR with these model changes and the float encoding changes too?

[2019-04-23 22:29] tonyespy commented on #218
@iain-anderson Please review my previous comment.

[2019-04-23 22:32] cloudxxx8 commented on #213
No, I will separate them, but I found out model change should be first.
I can add a new method, so should we return error for ValueToString for
float?

Tony Espy <notifications@github.com>於 2019年4月24日 週三，上午6:29寫道：

--

Best Regards,
Cloud Tsai

[2019-04-24 10:35] iain-anderson commented on #218
IMO the most logical behavior would be for the device service to answer only to what are now DeviceCommands. But I expect that it will be very convenient - especially for devices with a large number of resources - to also allow access to individual DeviceResources. Effectively having an implicit DeviceCommand with the same name for every DeviceResource. So I agree with the issue as originally stat

[2019-04-24 15:32] lenny-intel commented on #253
Do you also plan to pass in the registry type in the command line?
i.e. --registry=[type]:[url]

For this to work you will need to parse the value to supply the parts to the Registry Config in https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/config/loader.go
See lines 56 & 58.

[2019-04-24 16:00] iain-anderson commented on #253
I'm parsing the URL as [type]://[location]
eg,  consul://localhost:8500

[2019-04-24 18:53] tsconn23 opened #254 "Interlock -- Integrate Model Validation From Core-Contracts"
This issue is to track integration work in the device-sdk-go based on changes from the following PR in go-mod-core-contracts

https://github.com/edgexfoundry/go-mod-core-contracts/pull/71

[2019-04-24 23:11] lenny-intel opened #256 "Changes to AutoEvents don't take effect unless Device removed from DB"
When I change auto events configuration in the toml file and restart the device service the changes don't take effect unless I first remove the device from the DB.

[2019-04-24 23:28] tobiasmo1 commented on #256
This remains the case for *any* cached resource/device/obj that gets stored.

[2019-04-25 05:49] cloudxxx8 commented on #256
It is the expected behavior.  AutoEvent is not from configuration, but from Device instances.  The pre-defined DeviceList in configuration is only created first time.  After that, you have to send update call to core-metadata to update the Device data, including AutoEvent.  Callback will notify Device Service to run the updated AutoEvent.

The reason you clean up the DB can work is that DeviceList

[2019-04-25 08:50] iain-anderson commented on #256
Yeah, the device service provides a minimal provisioning facility whereby it will create devices and profiles from the conf file and .yaml files if those entities don't already exist.
I think this would better be done in a standalone tool, then options could be added for update/delete operations

[2019-04-25 14:29] #254 closed

[2019-04-25 15:16] lenny-intel commented on #256
Ok, It is just awkward that changes to the settings in the configuration.toml file don't take effect when the service is restarted. For Fuji, should these values be in the profile yaml files rather than the configuration.toml? Then it would be obvious that they don't take effect until DB is updated.

[2019-04-25 15:20] cloudxxx8 commented on #256
we can discuss the solution in the face to face meeting.  If we update Device from configuration whenever the Device Service start up, all the changes in core-metadata will be restore each time.  Normally, users won't update Device through configuration, and those section won't be sync to Consul.  I agree with moving them out from configuration

[2019-04-25 15:43] cloudxxx8 opened #257 "start up option -profile doesn't work for the correct config path"
To meet the design of edgex-go, we should support configuration profile to locate the correct config file.
https://github.com/edgexfoundry/edgex-go/blob/master/internal/pkg/config/loader.go#L42-L44
internal/pkg/config/loader.go:42-44

This was removed by #231 to fix another issue.

[2019-04-27 05:52] cloudxxx8 commented on #213
Implementing this refactoring, and wait for the PR https://github.com/edgexfoundry/go-mod-core-contracts/pull/79 reviewed and merged

[2019-04-29 11:17] tobiasmo1 opened #258 "Send event in response to GET command"
Missed critical call to SendEvent in commandFunc. This must be added so that GET commands result in (JSON/CBOR):
a) HTTP response to caller and
b) Corresponding Event put onto message bus by core-data.

[2019-04-30 14:05] cloudxxx8 commented on #258
fixed by #259

[2019-04-30 14:05] #258 closed

[2019-04-30 14:48] #257 closed

[2019-05-01 00:15] tobiasmo1 opened #261 "Add Binary Support for OnChange in AutoEvents"
Implement and verify binary readings are cached and evaluated in context of AutoEvents, especially in context when OnChange is true. Must avoid publishing event to core-data in this case if no change in the payload.

[2019-05-01 09:53] #213 closed

[2019-05-01 12:34] cloudxxx8 opened #263 "Remove RO 'property=value' from mock clients"
This issue is related to #247, and the property=value should also be removed from mock clients

[2019-05-01 22:25] cloudxxx8 commented on #247
fixed by #248

[2019-05-01 22:25] #247 closed

[2019-05-01 22:33] cloudxxx8 opened #266 "Update Device and DeviceProfile object from Mock Clients"
For example, addressable object should not be in device anymore
@FelixTing please update the test sample to fit the latest data mode in contract

[2019-05-03 19:19] FelixTing opened #267 "Fix irregular testing failure issue for command_test"
https://jenkins.edgexfoundry.org/view/device/job/device-sdk-go-master-verify-go/207/console
![image](https://user-images.githubusercontent.com/43240457/57160427-59b95000-6e1b-11e9-823b-62a637a8c021.png)

The root cause is the mock device raw data, both ResourceTestMapping_Fail and RandomValue_Int8 resource operations have the same object, but they have different mapping rule definitions. When comm

[2019-05-04 03:04] cloudxxx8 commented on #266
the addressable in mock clients is only for Device Service object, so it is correct

[2019-05-04 03:04] #266 closed

[2019-05-04 03:15] #267 closed

[2019-05-04 04:35] #263 closed

[2019-05-04 11:38] cloudxxx8 opened #269 "Do not set Device name in Readings when sending Event to core-data"
Please refer to the discussion on the slack
https://edgexfoundry.slack.com/conversation/CE6902Q6S/p1556804650008300

In the current design, the Device names in the Readings are redundant because they are the same name in the Event.

[2019-05-05 08:48] cloudxxx8 commented on #252
This issue should also be fixed by #270

[2019-05-05 08:53] cloudxxx8 commented on #218
let's discuss in the working group meeting next tomorrow.  we could decide whether RO.Parameter could be removed from contract and edgex-go.  After #270, this field becomes useless

[2019-05-07 13:28] #150 closed

[2019-05-07 16:07] cloudxxx8 commented on #252
fixed by #270

[2019-05-07 16:07] #252 closed

[2019-05-07 16:41] cloudxxx8 commented on #179
fixed by #205

[2019-05-07 16:41] #179 closed

[2019-05-07 16:42] cloudxxx8 commented on #171
@tobiasmo1 is this issue still valid?

[2019-05-07 16:42] cloudxxx8 commented on #82
fixed by #198

[2019-05-07 16:42] #82 closed

[2019-05-07 18:17] tobiasmo1 commented on #171
The behavior is much better now. I would say this is resolved.
Let's address remaining issues related to persisted cache separately.

[2019-05-07 18:17] #171 closed

[2019-05-08 02:15] cloudxxx8 commented on #256
@lenny-intel do you think it is still a valid issue?  For the move of device our from the configuration, it should be a separated issue.  Thanks.

[2019-05-10 08:30] #269 closed

[2019-05-10 10:15] #107 closed

[2019-05-10 15:23] cloudxxx8 opened #273 "Events and Readings should be timestamped in nanoseconds"
According to the architecture decision in face to face meeting, we would use nanoseconds in Events and Readings to get more accuracy

[2019-05-10 15:36] SteveOss commented on #273
There was also the point that could use, or wrap, a nanosecond clock so that each reading would have
a unique timestamp (this only fails if a device service can generate more than 1,000,000,000 readings
per second). This in combination with a unique device service identifier, means that all events can be
uniquely identified.

[2019-05-11 16:32] cloudxxx8 commented on #253
@weichou1229 @FelixTing , after this change is merged, you need to modify the Dockerfile in each device service repository as:
`ENTRYPOINT ["/device-modbus","--registry=true","--profile=docker","--confdir=/res"] `

The point is  "--registry**=true**"

Please refer to https://github.com/edgexfoundry/device-sdk-go/blob/8d4cf2815b71786e68cd86f6f84ece9696cbb71c/example/cmd/device-simple/Dockerfile#L41

[2019-05-13 07:27] cloudxxx8 commented on #202
@difince since the code freeze date is approaching, I just opened a PR for this issue.  please help review if you have time.

[2019-05-13 09:27] weichou1229 opened #276 "Protocol driver need callback for device changing(CRUD)."
We need to add a Callback mechanism for device entity changing(CRUD).
For example, MQTT device service subscribes to topics when device service initializes or device is created. Or close the MQTT connection when the device is removed.

[2019-05-13 15:10] tobiasmo1 commented on #276
We talked about this very briefly during Seoul face-to-face. Could we propose callbacks for ProtocolDriver:

-DeviceInit
-DeviceDiscover
-DeviceUpdate
-DeviceDisconnect (exists)

[2019-05-13 15:17] #202 closed

[2019-05-13 15:32] tobiasmo1 commented on #276
device-simple01 example adds devices with configuration.toml. As each device gets added on startup, DS SDK initiates **DeviceInitialize** with parameter of the created device (includes dynamically crafted properties name/id, etc.).
We discussed that DeviceDiscovery (or device change CRUD handlers) would be valuable to serve as a template device service authors; e.g., DS SDK provides an opportunity

[2019-05-13 15:46] iain-anderson commented on #276
For consistency with the existing DeviceDisconnect would it be better to have DeviceConnect.
Do we want Update rather than Disconnect followed by Connect? I'm thinking yes because we might have cached data which would still be valid on Update.

[2019-05-13 15:49] tobiasmo1 commented on #23
The 'mediaType' property has been added to go-mod-core-contracts value descriptor. Update device-simple01 example to assign MediaType to binary Event readings; e.g., mediaType='PNG'.

First determine if mediaType could be assigned in response to DeviceInitialize (new ProtocolDriver callback described in issue #276 ), or by directly mirroring the mediaType property (after adding to CommandValue str

[2019-05-13 15:51] tobiasmo1 opened #277 "Implement example of MediaType assignment on binary device readings"
The `MediaType` property has been added to go-mod-core-contracts value descriptor. Update device-simple01 example to assign MediaType to binary Event readings; e.g., mediaType='PNG'.

First determine if MediaType could be assigned in response to DeviceInitialize (new ProtocolDriver callback described in issue #276 ), or by directly mirroring the MediaType property (after adding to CommandValue str

[2019-05-13 16:11] tobiasmo1 commented on #276
Has there been discussion of pros/cons of adding new callbacks to address specific states (DeviceConnect, DeviceDisable, etc.). Or alternately, it may be advantageous to replace DeviceDisconnect with a more inclusive callback (such as **Update**) that allows DS author to be notified and take proper action upon any device state change (connected, disconnected, disabled, other _state_ changes). To m

[2019-05-13 17:41] lenny-intel commented on #256
@cloudxxx8 , agreed.

[2019-05-13 17:41] #256 closed

[2019-05-14 09:26] iain-anderson commented on #276
What can actually be modified on a device?

- Device is created
- Device is deleted
- Device is moved to another device service (similar to delete but not necessarily handled the same)
- Changed to a different device profile (is this possible? sensible?)
- Changes to the device profile itself
- New location - updated ProfileProperties
- Administrative State change
- Operating State change
- Automa

[2019-05-14 10:10] cloudxxx8 commented on #276
@tobiasmo1 I thought we need some clear use case for device discovery, but these callbacks could be leveraged by device discovery in the future.  Basically, when a new device is discovered, the DeviceConnect (or Add) would be called in the driver.

@iain-anderson I thought most of the cases you listed could be covered by DeviceUpdate, and I don't think the protocol driver should know the Profile c

[2019-05-14 10:14] cloudxxx8 commented on #276
Overall, I believe we only need to add the following callbacks:

- DeviceConnect (for add, if we keep DeviceDisconnect as the name)
- DeviceUpdate

Make DeviceUpdate inclusive everything might cause the implementation difficulties to driver providers.

[2019-05-14 23:24] tsconn23 commented on #23
`Binary Value []byte` has been added to the Reading

https://github.com/edgexfoundry/go-mod-core-contracts/blob/24a36f294d12b108636e27c6184f22ea24766959/models/reading.go#L38

The `EventClient` should both facilitate the [marshaling](https://github.com/edgexfoundry/go-mod-core-contracts/blob/24a36f294d12b108636e27c6184f22ea24766959/clients/coredata/event.go#L64) of the event and [addition](https:/

[2019-05-15 09:52] weichou1229 opened #278 "Add correlation-id for API tracing"
In edgex-go implementation, add middleware to the router.
https://github.com/edgexfoundry/edgex-go/tree/master/internal/pkg/correlation
https://github.com/edgexfoundry/edgex-go/blob/master/internal/support/notifications/router.go#L81

[2019-05-15 13:07] anonymouse64 commented on #253
The snap and all device-service snaps built from the device-sdk-go will also need to be updated with this change

[2019-05-15 13:43] anonymouse64 opened #279 "Add example snap packaging for device-simple"
For the example device service `device-simple` in this repo, we should create a basic snapcraft.yaml for that to demonstrate how device service authors can easily create snaps of their device services.

This will also be helpful in updating the docs for device services to reference how to make an independent snap of a device-service.

Unclear if we should publish this example to the store, I think

[2019-05-15 14:02] tobiasmo1 commented on #276
This should enable ProtocolDriver to handle external influences on DS-managed devices. Parameters sent by DSDK to these methods need elaboration.

[2019-05-15 14:17] cloudxxx8 commented on #276
I just noticed the disconnect method name is `DisconnectDevice`, so the design would be:
- ConnectDevice(deviceName string, protocols map[string]contract.ProtocolProperties) error
- UpdateDevice(deviceName string, protocols map[string]contract.ProtocolProperties) error

[2019-05-15 14:29] anonymouse64 commented on #279
After talking with @tonyespy we won't publish it to the store as it's not useful, but still should be in this repo for dev/example purposes

[2019-05-15 21:03] #218 closed

[2019-05-15 21:03] #227 closed

[2019-05-16 03:20] weichou1229 opened #281 "Implement mask and shift transforms"
Bitwise operations on unsigned ints -
transformed-value = (original-value & MASK) >> SHIFT

Refer to device-sdk-c implementation
https://github.com/edgexfoundry/device-sdk-c/pull/68

[2019-05-17 21:06] tobiasmo1 opened #284 "Add Example Test for Binary Command Value"
Need to add one or more [command value tests](https://github.com/edgexfoundry/device-sdk-go/blob/master/pkg/models/commandvalue_test.go) to verify behavior for binary payloads.

[2019-05-17 21:17] tobiasmo1 opened #285 "Update device-simple example"
Propose that we add the following to res/configuration.toml to highlight how two simple commands.
* One triggers boolean application/json event (switch)
* Second triggers binary application/cbor event (image)

Also changing the frequency of the AutoEvent to publish a Switch event each 5 seconds. Note that needs to also toggle the value from false->true at some point for better demonstration. Then

[2019-05-20 02:45] cloudxxx8 commented on #76
We've opened PR https://github.com/edgexfoundry/device-sdk-go/pull/280 to add correlation id.
This issue would focus on the message format only.  How about using the following format?
[$package.$func]  xxxxxxxx

[2019-05-20 02:47] cloudxxx8 commented on #76
Some log message uses the following format, but not all
$package - $func: xxxxx
The purpose of this issue is to make all log message consistent in this repository, or we could just remove all the package and func name information

[2019-05-20 15:56] cloudxxx8 opened #286 "Remove DisconnectDevice from ProtocolDriver"
According to the decision in the working group meeting today, we prefer to remove DisconnectDevice for now, because we would re-design the whole add, update, delete callback methods to meet the discovery mechanism.

[2019-05-20 15:58] cloudxxx8 commented on #286
this issue is related to the decision of https://github.com/edgexfoundry/device-sdk-go/issues/276

[2019-05-21 07:28] weichou1229 opened #288 "device-simple load version number from VERSION instead of hardcode"
cmd.go should load version number from VERSION

[2019-05-21 08:18] #288 closed

[2019-05-21 09:36] #278 closed

[2019-05-21 11:53] #77 closed

[2019-05-22 06:11] cloudxxx8 commented on #246
fixed by #292

[2019-05-22 06:11] #246 closed

[2019-05-22 15:36] cloudxxx8 commented on #76
After discussing with @weichou1229 , we will remove "$package - $func:" from log messages because the current logger prints out the file name and line number.  The $package and $func in log messages is unnecessary.

[2019-05-22 16:17] #286 closed

[2019-05-22 21:40] bus710 opened #296 "Getting an error in launching the example."
Hi,

Since it has been 2 days I started learning EdgeX, this can be a silly mistake but any help would be very appreciated.

I am having an issue in running the example from the wiki:
- https://docs.edgexfoundry.org/Ch-GettingStartedSDK-Go.html#run-your-device-service

Environment:
- Mint 19.1 (=Ubuntu 18.4)
- Go 12.5
- Docker 18.09.6
- EdgeX Delhi 7.1 (I believe... since I cloned the developer-sc

[2019-05-22 21:47] bus710 commented on #296
Also, I tried the device-random project.

The compilation is fine as well but the launching showed this error:

[code]

[2019-05-22 22:51] bus710 commented on #296
In the Slack channel I found some conversation regarding the branches.

It sounded like the **docker-compose file** should be Delhi and the **device-sdk-go** also should be Delhi branch (not master).

Probably I should use Delhi version of the SDK but I might wait for a confirmation from the developers.

[2019-05-22 23:13] bus710 commented on #296
Eventually I could make my local setup to work as expected.

Below log shows the result.

[code]

What the SDK users should do is that, **git checkout delhi** in the directory created after the SDK is cloned.

[2019-05-22 23:37] #296 closed

[2019-05-24 04:04] tobiasmo1 commented on #23
This is resolved in [PR#293](https://github.com/edgexfoundry/device-sdk-go/pull/293)

[2019-05-24 04:23] tobiasmo1 commented on #284
Resolved with [PR#297](https://github.com/edgexfoundry/device-sdk-go/pull/297)

[2019-05-25 02:55] #76 closed

[2019-05-25 02:57] cloudxxx8 commented on #285
fixed by #298

[2019-05-25 02:57] #285 closed

[2019-05-25 02:58] #284 closed

[2019-05-25 11:37] #281 closed

[2019-05-28 22:29] tsconn23 opened #300 "Edinburgh branch -- Update go.mod for modules"
Once the following modules are tagged to v0.1.0 update the edgex-go go.mod and submit the PR. This will be the final task before the edinburgh branch is cut.

go-mod-core-contracts
go-mod-registry

[2019-05-29 00:46] #300 closed

[2019-06-03 22:02] bus710 opened #302 "How to delete Ghost Schedule Event"
This is a note for future.

I had some issue in using EdgeX Go device SDK (Delhi) because a registered scheduler event (turnOnSwitch) made the bool variable kept turning on once every 10 seconds.

To remove the unnecessary schedule event, please follow the steps below:

[code]

This is valid for Delhi or older versions not Fuji and newer as the mechanism has been changed.

[2019-06-03 22:03] #302 closed

[2019-06-05 10:42] cloudxxx8 opened #303 "Remove ReadMaxLimit from configuration"
ReadMaxLimit should be controlled by Core services, and we don't really use it in SDK

[2019-06-05 13:37] #303 closed

[2019-06-06 08:12] #273 closed

[2019-06-06 15:21] bus710 opened #307 "How to delete a device profile."
**TL;TR - Delete the device first**

Originally, I wanted to register the simple device made by the SDK.

However, I found there is an existing device that has same device name so that I tried to delete the related information.

With a DELETE request, the device profile ID API (http://localhost:48081/api/v1/deviceprofile/id/DEVICE-PROFILE-ID) returns **Can't delete device profile, the profile is s

[2019-06-06 15:21] #307 closed

[2019-06-07 03:18] cloudxxx8 commented on #307
thank you, @bus710 to share all your experience here.
I will tag all your articles a tips label, and it would be easy to search in the future.

[2019-06-07 04:05] MandipJ opened #308 "example not running"
Hi,

I was able to build simple-device sample but while running it throws the following errors:
[code]

Any help would be appreciated.

[2019-06-07 05:27] cloudxxx8 commented on #308
@MandipJ please confirm you are running the same version for all the services
according to the log message, you might run device-simple in master branch and other service in delhi release (0.7.1)

[2019-06-07 06:53] MandipJ commented on #308
@cloudxxx8

So I removed all the containers and docker images and pulled the EdgeX containers again using the latest docker-compose file (https://github.com/edgexfoundry/developer-scripts/blob/master/compose-files/docker-compose.yml), but the sample is still showing the same issue.

[code]

[2019-06-07 07:51] cloudxxx8 commented on #308
@MandipJ The docker-compose you are using is 0.7.1 (delhi), so you have to use the delhi branch of device-sdk-go.
Edinburgh hasn't been released, and our target date is 6/20

[2019-06-07 09:07] MandipJ opened #309 "sementation fault"

[2019-06-07 09:07] #309 closed

[2019-06-11 13:09] iain-anderson commented on #276
email from Daniel Harms at Dell:

[2019-06-11 13:12] iain-anderson commented on #276
I think we have this covered with Connect/Disconnect/Update as suggested above. Is the call to get all devices usable during the initialize callback or does the DS implementation have to wait until service startup is complete?

[2019-06-13 22:51] tsconn23 opened #310 "Intermittent Panic in SDK -- Possibly From AutoEvents"
I've been testing a lot of PRs over the last week using the device-random service. I've noticed that it crashes intermittently. Here's the scenario I go through. All of this is on the master branch.

- I fetch a local copy of the edgex-go PR and build it
- I then make sure I have the latest copy of device-random and pull in the latest device SDK if necessary
- I build device-random
- I clean out M

[2019-06-14 06:13] cloudxxx8 commented on #310
@tsconn23 thanks for reporting this issue.
After some investigation, it is caused by the non-thread-safe map in device-random.
https://github.com/edgexfoundry/device-random/blob/06d762cd8498261bf32027f3a07a143e9b025b88/driver/randomdriver.go#L23

However, you are right.  The lastReadings map in autoevent.executor is also non-thread-safe.
Thus, I will

1. move this issue to device-random
2. open an

[2019-06-14 06:13] #310 closed

[2019-06-14 06:18] cloudxxx8 commented on #308
@MandipJ does this issue still exist?

[2019-06-14 06:20] cloudxxx8 opened #311 "The lastReadings map in autoevent.executor is not thread safe"
The current lastReadings map in autoevent.executor is not thread safe, and it might cause some issues in some certain situation.
https://github.com/edgexfoundry/device-sdk-go/blob/b6ad4c420792a66191cdf693bc4526796665caa8/internal/autoevent/executor.go#L84

[2019-06-14 06:21] cloudxxx8 commented on #310
Please see https://github.com/edgexfoundry/device-random/issues/66 and #311

[2019-06-14 21:08] bus710 opened #313 "How does the DS layer broadcast its value changed?"
From the walk through article, I read this paragraph:
[code]

My question is that:
- Does the SDK (delhi) already have that capability or should that be implemented by the users?
- Once the event is sent to the event API, how other layers can be notified? should other layers periodically read the API to find out if there is a new event?

I am currently making an app layer that delivers a web inter

[2019-06-14 21:09] bus710 commented on #313
My question has been answered by @michaelestrin in the Slack channel:

[2019-06-14 21:10] bus710 commented on #313
As a follow-up, I tried *grep -rn ${pwd} -e post_reading* in both SDKs (C and Go) respectively.
- C SDK has that function in service.c
- Go SDK doesn't have it in Delhi.

I guess I should go for the second and/or third option to accomplish my goal for now.
However, I will try other ways with the upcoming version - Edinburgh.

[2019-06-14 21:10] #313 closed

[2019-06-16 13:29] cloudxxx8 opened #314 "Nanoseconds timestamp in Event.Origin might be duplicated in some cases"
@iain-anderson brought up some concerns about #306
It doesn't include the "monotonic" property, ie each requested timestamp is a bigger number that its predecessor. We could therefore get duplicates if either
1) Two threads ask for timestamps simultaneously
2) A correction causes the clock to move backwards and we hit the "same" time twice.

Both of these are pretty unlikely to be honest but still

[2019-06-17 16:19] bus710 commented on #313
In the same channel, @tsconn23 suggested to use the Add method in event.go.

The full path to the file is (since there are 2~3 event.go files in this project):
- device-sdk-go/vendor/github.com/edgexfoundry/edgex-go/pkg/clients/coredata/event.go

The result will be posted here once I find a good usage of it.

[2019-06-17 17:51] bus710 commented on #313
The usage could be found by:
- **grep -rn $(pwd) -e NewEventClient**

The results are:
- vendor/github.com/edgexfoundry/edgex-go/pkg/clients/coredata/event_test.go:136: ec := NewEventClient(params, mockEventEndpoint{})
- internal/clients/init.go:260:   common.EventClient = coredata.NewEventClient(params, consulEndpoint)

LEt me try to use that from my DS.

[2019-06-17 18:57] bus710 commented on #313
It ends up being a responsibility of the client I made.
After the client sends a POST request to change the value, it also sends a GET for the same attribute to update it.

[2019-06-18 11:12] cloudxxx8 opened #316 "Generate the origin timestamp for readings if the protocol driver doesn't provide"
In the working group meeting this week, we agree the SDK should generate origin timestamp for readings if the origin field of CommandValue returned by the protocol driver is 0

[2019-06-19 02:20] cloudxxx8 opened #317 "Always show error message about adding new device into cache failed when the first starts up"
This is caused by Device provisioning from configuration (DeviceList).  When Device Service first starts up, it will create Devices to core-metadata according to the DeviceList in the configuration.  Then, core-metadata will call back to notify the Device Service there is a new Device added.  However, it has already in the cache, so it always causes the following message in the log:

This won't im

[2019-06-19 11:43] MandipJ commented on #308
@cloudxxx8
The sample works with the same version of all the device.

Thanks for the support!

[2019-06-19 11:43] #308 closed

[2019-06-19 14:36] #311 closed

[2019-06-20 18:29] tsconn23 opened #318 "Remove Creation of ValueDescriptors from the SDK"
Currently, value descriptors are [created](https://github.com/edgexfoundry/device-sdk-go/blob/9c16751eb33bbe0a682fe4b2aeae4f8a0e2e1fef/internal/provision/profiles.go#L138) within core-data by the Device Service SDK when a Device Profile is either [created](https://github.com/edgexfoundry/device-sdk-go/blob/9c16751eb33bbe0a682fe4b2aeae4f8a0e2e1fef/managedprofiles.go#L45) or [updated](https://github

[2019-06-21 02:51] cloudxxx8 commented on #318
@tsconn23 Since only Device has the connection to Device Service, could core-metadata send a callback to Device Service to notify any change happens on Device Profile?  Creation is fine to ignore the callback because there is no Device created for the Profile at that moment, but any update of profile should notify the Device Service associated to related Devices.

[2019-06-21 02:54] cloudxxx8 commented on #318
It might be a separated issue, and I just think about it because of relating to the Value Descriptor management.

[2019-06-21 15:50] tsconn23 commented on #318
@cloudxxx8 The way I was thinking of it was the SDK could use the DeviceResources in order to manage its cache without the need for a callback. We know that there's a 1 to 1 mapping between DeviceResources and ValueDescriptors, so why not have the SDK manage that on its own side and eliminate the extra network traffic. Make sense?

[2019-06-21 20:36] bus710 opened #320 "When Core-Command cannot find a DS launched via localhost (or 127.0.0.1)"
TL;TR:

Use 172.17.0.1 for the Host address in the configuration.toml of the DS.

Why:

https://edgex.discourse.group/t/troubleshooting-edgex-and-docker-networking/41

In Docker environment, the localhost and 127.0.0.1 is not known to the containers.
So that Core-Command's log (docker logs edgex-core-command) says:
- ERROR: 127.0.0.1 not found (or something similar)

However, the 172.17.0.1 can be

[2019-06-21 20:36] #320 closed

[2019-06-23 03:14] cloudxxx8 commented on #318
@tsconn23 yeah, that's the plan once we remove ValueDescriptors management from Device Service.  However, my concern is that if users update the profile to add additional DeviceResources and core-metadata should also create new corresponding ValueDescriptors in core-data, Device Service SDK might still need a callback to know the changes, or the core-command execution would be failed.

[2019-06-24 03:19] cloudxxx8 commented on #316
close this issue because it has been implemented
https://github.com/IOTechSystems/device-sdk-go/blob/8bd938c3a554e5b6447e695ccde17ba3335ebf0b/internal/common/utils.go#L42-L47

[2019-06-24 03:19] #316 closed

[2019-06-24 15:17] tsconn23 commented on #318
Device Services WG -- 24-Jun-2019

It appears the Value Descriptor cache is only used by unit tests, so it can probably be removed. @cloudxxx8 to verify.

Also -- clarification from the above meeting. The callback being discussed here pertains to a Device Profile update from the UI. When a profile is updated via the UI, metadata has the responsibility to identify the unique device services for all

[2019-06-24 19:40] tsconn23 commented on #318
@cloudxxx8 @iain-anderson I found that the SDK will handle updates to Device Profiles
https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/handler/callback/profile.go

The only issue I see is that I cannot currently specify which profile has been updated. If I issue a PUT to the Device Service and specify "PROFILE" as an ActionType, the logic above will refresh all of the profiles in

[2019-06-24 20:29] tsconn23 commented on #318
![DeviceProfileUpdate](https://user-images.githubusercontent.com/1342980/60049832-cbcc4980-9694-11e9-9669-cb9bc9a82801.png)

[2019-06-25 02:18] cloudxxx8 commented on #318
ok, that sounds good to me.  I also thought it a redundant call to get the device or profile by id again

[2019-06-25 06:09] xinminsu opened #322 "./device-simple -r consul://localhost:8500 -c res/ error"
1. consul agent -data-dir consul_data/ -node=127.0.0.1 -bind=127.0.0.1 -datacenter=dcl -ui -client=0.0.0.0 -server -bootstrap-expect 1

2../core-config-seed-go -c true
res/configuration.toml
+ConfigPath = 'edgex/core/1.0'
+GlobalPrefix = 'edgex/core/1.0'

3.after add -r ture in each launch line then
make run

4.cd device-sdk-go/example/cmd/device-simple
./device-simple -r consul://localhost:8500 -

[2019-06-25 06:59] cloudxxx8 commented on #322
may I see what your configuration.toml is?

[2019-06-25 09:00] xinminsu commented on #322
configuration.toml:
[Writable]
LogLevel = 'INFO'

[Service]
Host = "localhost"
Port = 49990
ConnectRetries = 20
Labels = []
OpenMsg = "device simple started"
Timeout = 5000
EnableAsyncReadings = true
AsyncBufferSize = 16

[Registry]
Host = "localhost"
Port = 8500
Type = "consul"
CheckInterval = "10s"
FailLimit = 3
FailWaitTime = 10

[Clients]
  [Clients.Data]
  Name = "edgex-core-data"
  Protocol

[2019-06-25 09:30] cloudxxx8 commented on #322
After looking into the code, there might a Command in one of your profile contains empty name.  Could you please show your profile or the result of http://localhost:48081/api/v1/deviceprofile

[2019-06-25 09:36] xinminsu commented on #322
@cloudxxx8 thank you.
Device adsb in result of http://localhost:48081/api/v1/deviceprofile is
{
	"created": 1561106910343,
	"modified": 1561106910343,
	"description": "Device adsb in sdr",
	"id": "cc0c4f05-9621-40d7-96a0-2acb3d2c649b",
	"name": "Device-adsb",
	"manufacturer": "Bigxiong Tech",
	"model": "DA-01",
	"labels": ["modbus"],
	"deviceResources": [{
		"description": "Switch On/Off.",
		"nam

[2019-06-26 03:07] cloudxxx8 commented on #322
http://localhost:48081/api/v1/deviceprofile might contain other result, not only adsb.
Could you please provide all of them? Or, just check whether there is any coreCommand name is empty string.

[2019-06-26 13:36] michaelestrin opened #323 "Override Configuration Using Environment Variables"
# 🚀 Feature Request

### Description

Enable ability to override service configuration using environment variables.  This is the generally accepted mechanism to inject variation when instantiating a container.

My specific use case -- a Helm Chart to support the management of multiple instances of EdgeX in a Kubernetes cluster -- precludes use of the containerized `configuration.toml` files.  Furt

[2019-06-26 19:49] anonymouse64 opened #324 "Difficult to use DriverConfigs with Bootstrap"
Currently, the [documented](https://docs.edgexfoundry.org/Ch-GettingStartedSDK-Go.html) way to create a device service driver is to create a `ProtocolDriver` implementation and then pass an instance of that along to `service.Bootstrap`. However, this makes it difficult to get information from the `Driver` section of configuration.toml before setting up the `ProtocolDriver` instance.

For example,

[2019-06-27 01:15] anonymouse64 opened #325 "Writable.LogLevel isn't checked for values when not using consul"
For example with this:

[code]

No warnings or anything are output. Unclear if this is an issue yet or not, and it's also unclear if this causes a problem when using consul.

[2019-06-27 01:16] anonymouse64 commented on #325
It does seem to default to `INFO` in this case so I assume that there's a check somewhere on it

[2019-06-27 02:05] cloudxxx8 commented on #325
the check is in the logger
https://github.com/IOTechSystems/go-mod-core-contracts/blob/029f8a17d00a0aea129682aad356b86d95ce1a4d/clients/logger/logger.go#L69-L72

[2019-06-27 02:24] cloudxxx8 commented on #324
not only DriverConfigs and DeviceList, all configuration hasn't been loaded before service.NewService().
It's correct to put the address into DeviceList.Protocols, and it's the issue I mentioned in #276
The BLE address should be handled when each device creation, not the protocol driver initialization.  We need the device create or connect callback to solve this issue.

[2019-06-27 02:26] #314 closed

[2019-06-27 03:13] anonymouse64 commented on #324
How can we create the device/initialize the actual BLE connection before the `DeviceList` has been created?

I've since refactored my device service to not use `Bootstrap` but still has the issue described in #276 and it can't access the `Devices` from the `DeviceList` in the configuration.toml until after `Start` was called.

It would be nice if there was a separate method from `Start` that would

[2019-06-27 03:17] anonymouse64 commented on #325
Refiled as https://github.com/edgexfoundry/go-mod-core-contracts/issues/115

[2019-06-27 03:17] #325 closed

[2019-06-27 03:52] anonymouse64 commented on #19
How does this relate to #276 ?

[2019-06-27 04:02] cloudxxx8 commented on #324
@anonymouse64 sorry, I don't understand the use case here.  Do you need a Device Service initialization, but it is not `ProtocolDriver.Initialize`?  Why can't it be `ProtocolDriver.Initialize` plus the new Device creation callback in `ProtocolDriver`?

[2019-06-27 05:05] anonymouse64 commented on #324
Yes, because I also want to access generic configuration from `DriverConfigs` before setting up any devices.

Once the device creation callback in ProtocolDriver is available that will be enough for connecting to the devices before HandleReadCommand, etc. but that won't cover my use case with accessing the device driver configuration `Driver` section in the configuration.toml.

[2019-06-27 05:10] cloudxxx8 commented on #324
@anonymouse64 I thought the easy solution is to move `ProtocolDriver.Initialize` call to right after the loading configuration and before `InitCache` in `service.Start`
Then, you could put your logic into `ProtocolDriver.Initialize`
Is it ok with you?

[2019-06-27 05:38] anonymouse64 commented on #324
I would think that the cache of devices should be initialized by the time that Initialize is called so that before we have a register callback in the ProtocolDriver we could access the cache of devices in the Initialize method

[2019-06-27 05:40] cloudxxx8 commented on #324
how about after initCache and before provision.LoadDevices which is loading DeviceList from configuration?

[2019-06-27 06:04] anonymouse64 opened #326 "No way to use same logging client as service messages before service Start"
Currently, if you encounter errors/issues in setting up a `ProtocolDriver` before calling `startup.Bootstrap` or `Start` on a service there's no way to use the same logging client to issue warnings or errors as what's used from within the SDK unless you create an object with the same arguments which it's not clear to me if this is supported or not by the logging client. The logging client is only

[2019-06-27 06:16] cloudxxx8 commented on #326
before creating the Logging client, we can only use fmt to print out the log to stdout or stderr

[2019-06-27 06:20] anonymouse64 commented on #326
Yes but I'm saying it should be created earlier so it can be used as early as possible

[2019-06-27 09:34] iain-anderson commented on #19
I think 276 allows for more flexible connect/disconnect options but the driver has to implement them itself rather than the SDK doing it

[2019-06-27 10:38] iain-anderson commented on #323
Should we make the device services be more like the others with respect to config-seed behavior: If there is no config in the registry, populate a default set of values, with overrides from the environment variables.

[2019-06-27 10:42] iain-anderson opened #327 "Version bump"
1.1.0 for Fuji

[2019-06-27 10:44] iain-anderson commented on #245
Agreed in WG 24th Jun that there would be new fields named as above but the old ones would be kept undocumented/deprecated for backward compatibility.

[2019-06-27 10:46] iain-anderson commented on #245
depends on https://github.com/edgexfoundry/go-mod-core-contracts/issues/114

[2019-06-27 13:03] michaelestrin commented on #323
@iain-anderson Not sure if you're suggesting a separate config-seed-equivalent process.

Currently, if the registry command line option is provided and no service configuration exists in the registry, the DSSDK will populate the registry with the configuration obtained from the local `configuration.toml` file.

Is this the desired behavior or are you suggesting some alternative behavior?

[2019-06-27 13:16] iain-anderson commented on #323
I'm thinking that config-seed sets up the registry based on defaults and the DSs should do something similar. What they have now requires the local file the first time you run them with the registry option. I agree with the idea that the DS should be doing that population, rather than config-seed or another process like it.

[2019-06-27 14:26] michaelestrin commented on #323
@iain-anderson How does what you're thinking should happen and what is currently implemented differ?

[2019-06-27 14:31] iain-anderson commented on #323
The registry if found to be empty is populated with:
Now - settings from a .toml file. This must exist, but its location may be specified on the commandline
With this issue - as above but with environment variables overriding settings
As I'd like - default values hardcoded in the DS, with environment variables overriding them.

[2019-06-27 14:43] SteveOss commented on #323
The argument for removing the toml files for default configuration, and hard coding these into a
service, is that the toml file is not really accessible to the user. If a user wants to change the defaults,
then can either set environment variables or modify the values in the registry.

[2019-06-27 18:25] michaelestrin commented on #323
The decision was made in today's Core WG call to defer the larger conversation around how to handle default configuration across the entirety of the system.  Consensus was for me to complete the environment variable configuration override work without tackling the removal of toml files.

[2019-06-27 20:33] tsconn23 commented on #318
I have updated the diagram above per discussion in the Core WG this morning. Note that the callback to the Device Service now includes an `item` property. This is because @iain-anderson had the idea to also use this callback for updated devices, eliminating the need to callback to core-metadata when a device is updated. Some generically named property needed to be added to the request to facilitat

[2019-06-28 09:30] #322 closed

[2019-06-28 10:23] iain-anderson commented on #323
I realize I'm coming to this late, but in the DS we've been using a URL to specify registry, the reasons being that it makes for a single setting rather than three, and it also allows the potential for future registry implementations that don't fit the type/host/port pattern

[2019-06-28 11:53] michaelestrin commented on #323
I implemented as three separate settings -- edgex_registry_host, edgex_registry_port, and
edgex_registry_type -- intentionally so as to be consistent with the edgex-go core implementation
(see edgexfoundry/edgex-go#1450) which consumes the registry service but does not use the command-line registry flag in the same way as the DSSDK.

I understand your implicit ask to be change the existing and/or

[2019-06-28 11:59] SteveOss commented on #323
I think it's obvious that the answer to the above is "yes". So perhaps the discussion should be as to the
common form adopted.

[2019-06-28 12:30] SteveOss commented on #323
Forgot to say that IMHO, should attempt to represent one logical configuration element as one (as opposed
to multiple) configuration variables.

[2019-06-28 13:05] akramtexas commented on #323
Good points, Steve. I do wish to bring attention back to a (the?) central
point that came up earlier in this thread, where Michael pointed out that "*The
decision was made in today's Core WG call to defer the larger conversation
around how to handle default configuration across the entirety of the
system*..."

To the latter point, I believe it's been captured yesterday (in the Core WG
meeting minu

[2019-06-28 13:17] SteveOss commented on #323
Am looking forward to the wider discussion, but that does not preclude discussing some of the issues ahead of time IMHO.

[2019-06-28 16:45] michaelestrin commented on #323
Agreed though I'm not sure this issue is the best place to host an ecosystem-wide discussion.

Is there an objection to merging the PR as-is with the intent to follow with a post-discussion set of PRs across the ecosystem to normalize implementation across all services?

[2019-07-01 09:12] iain-anderson commented on #323
OK, it's easy enough changed

[2019-07-01 15:04] cloudxxx8 commented on #327
fixed by #329

[2019-07-01 15:04] #327 closed

[2019-07-02 14:36] #279 closed

[2019-07-05 10:14] iain-anderson commented on #276
@cloudxxx8 We probably want to pass AdminState in the Connect and Update methods. The driver will want to "mute" the device if it gets put into the LOCKED state

[2019-07-08 03:42] cloudxxx8 commented on #276
@iain-anderson since the driver can get deviceName, it can retrieve the whole Device from cache and get the AdminState.  we might not need to pass additional field to it.

[2019-07-08 08:38] iain-anderson commented on #276
I'm thinking that the driver is going to often want the Protocols and the AdminState, and rarely anything else, so we could pass both in the method. Is that an okay assumption?

[2019-07-08 15:14] cloudxxx8 commented on #276
In today's working group meeting, we proposed:

- ConnectDevice(deviceName string, protocols map[string]contract.ProtocolProperties, adminState contract.AdminState) error
- UpdateDevice(deviceName string, protocols map[string]contract.ProtocolProperties, adminState contract.AdminState) error
- DisconnectDevice(deviceName string, protocols map[string]contract.ProtocolProperties) error

[2019-07-09 12:52] tonyespy commented on #276
This looks good to me although two comments:

 * I don't love the usage of "Connect" and "Disconnect" here. As described previously (and in yesterday's working group call) these functions are meant to notify a ProtocolDriver implementation that a new device has been added or an existing device has been removed. Just because the interface used to have a "ConnectDevice" method doesn't mean we need t

[2019-07-09 14:16] cloudxxx8 commented on #276
@tonyespy I can answer the second comment.  Disconnect/RemoveDevice might need the ProrocolProperties to clean up the real connection for some protocols.  For example, MQTT Device Service should stop listening to a specific topic on a MQTT broker when a MQTT Device is removed.

[2019-07-09 14:20] SteveOss commented on #276
@cloudxxx8 Could the device itself not have cached everything it needs to disconnect?

[2019-07-09 14:23] cloudxxx8 commented on #276
@SteveOss yes, it can retrieve everything from cache, but @iain-anderson metioned

we can only pass device name to these three method, and let the driver to retrieve anything it needs from cache

[2019-07-09 14:29] iain-anderson commented on #276
The device driver itself could maintain this state, but I'd rather not mandate it. The SDK will have the information to hand as part of its own response to the create/update/remove request.

[2019-07-09 16:46] iain-anderson commented on #276
As to names I'm not much keen on Connect/Disconnect either. How about `AddDevice`, `UpdateDevice`, `RemoveDevice` ?

[2019-07-12 09:55] iain-anderson commented on #195
I'm not sure how this is intended to work. Here's one suggestion

**Driver posts an Event on the asynchronous channel:**

- Event is sent to core-data
- Event is cached

**Device Service receives a GET query:**
_Does a cached Event exist for the required Device and deviceCommand?_
_If Yes_

- Return the cached Event
- Discard the cached Event
- Do not re-send it to core-data

_If No_

- Query the

[2019-07-12 09:57] iain-anderson commented on #195
A different version of that would be that an Event generated asynchronously would not be immediately sent to core-data, it would only be cached. In that case the Event would go to core-data in response to an incoming GET.

[2019-07-13 03:19] cloudxxx8 commented on #195
The first version looks more reasonable to me because async reading is a kind of passive operation, not active operation.   Get command is a kind of active operation.  Also, we might need to add a attribute in Device Resource of Device Profile to indicate whether it is async value.

[2019-07-13 04:16] cloudxxx8 commented on #217
Need the support from go-mod-registry.  The issue to request this feature is opened
https://github.com/edgexfoundry/go-mod-registry/issues/20

[2019-07-13 06:00] cloudxxx8 commented on #324
@anonymouse64 please see whether #331 can meet your requirement

[2019-07-15 08:52] iain-anderson commented on #323
Closed via #328

[2019-07-15 08:52] #323 closed

[2019-07-15 08:54] iain-anderson opened #332 "Support setting registry location with a single environment variable"
Replace `edgex_registry_host`, `edgex_registry_port` and `edgex_registry_type` with `edgex_registry` which can hold a url - as per https://github.com/edgexfoundry/edgex-go/issues/1520

[2019-07-15 15:28] tsconn23 commented on #326
From core services
https://github.com/edgexfoundry/edgex-go/blob/0bb6f38d41c1fd7c43a982641d64e8fe591cccf2/cmd/core-data/main.go#L79

[2019-07-15 15:47] anonymouse64 commented on #326
@tsconn23 what are the implications of creating a logger client twice with the same service key? What if I wanted to simply print off debug/info messages and not completely error out?

[2019-07-15 16:21] tsconn23 commented on #326
The logger in this case is just scoped to the function so it'll be GC'ed when the function exits. No problem as far as service key naming. If you want a different level of messaging, then you could either change the function to log at that level by default or otherwise pass the desired level in as a param.

[2019-07-15 18:05] anonymouse64 commented on #326
So basically the suggestion here then is to:
* create a logger with the same service key
* garbage collect or otherwise delete that logger instance before calling `service.Start`

Additionally, how does one hookup the logger instance with the remote logging setup like what happens here:

https://github.com/edgexfoundry/device-sdk-go/blob/d1865f01213a505f6a4432c9b99b4cbb6bcb14f4/internal/clients/in

[2019-07-15 18:10] anonymouse64 commented on #324
@cloudxxx8 unfortunately that solution doesn't seem like it would solve anything.

To be clear, I specifically want to be able to access DriverConfig before calling `service.Start` (or equivalently `service.Bootstrap`) for driver level configuration. This issue is specifically about driver level configuration in the configuration.toml and using it before starting the SDK service running.

I would

[2019-07-15 21:44] tsconn23 commented on #326
In the example provided above, remote logging isn't an option since we've not read the config yet. Logging just goes to StdOut. What if in the edge case the support-logging service hasn't bootstrapped yet or is down? If you want to do remote logging, then you're working on a different requirement.

[2019-07-16 00:16] anonymouse64 commented on #326
Sure in that scenario you can't use remote logging, but for a generic device service I don't think that assertion holds.

For example in my case, I might need to have the driver config control whether to talk directly to the Linux kernel for Bluetooth devices or use something like bluez. There are many other configuration items which are:

- not protocol or device specific (i.e. doesn't belong in

[2019-07-16 02:41] cloudxxx8 commented on #324
@anonymouse64 The driver level logic should be put in protocol driver, not bootstrap.
Could the proposed resolution in #276 totally solve your problem?

[2019-07-19 02:43] cloudxxx8 commented on #276
@iain-anderson please help confirm the design

- AddDevice(deviceName string, protocols map[string]contract.ProtocolProperties, adminState contract.AdminState) error
- UpdateDevice(deviceName string, protocols map[string]contract.ProtocolProperties, adminState contract.AdminState) error
- RemoveDevice(deviceName string, protocols map[string]contract.ProtocolProperties) error

or only reserve devic

[2019-07-19 09:21] iain-anderson commented on #276
The former, ie with all the parameters

[2019-07-20 07:04] cloudxxx8 commented on #332
fixed by #333

[2019-07-20 07:04] #332 closed

[2019-07-22 15:04] #242 closed

[2019-07-23 20:43] anonymouse64 opened #337 "Example device-simple snap should expose an app to run device service interactively"
Since the device-simple snap is meant to be a learning tool and show how to develop device services, it would be useful to be able to run the command from the snap that is built directly in the terminal and see the output while adjusting arguments, etc.

Currently the snap only has a service which is somewhat hidden from the user behind `snap logs` and `snap services`.

[2019-07-23 23:24] anonymouse64 opened #338 "Port device-simple snap to the edinburgh branch?"
I'm wondering if it makes sense for us to also provide snap packaging on the edinburgh branch here. It's not clear to me that there's significant changes now between master + edinburgh, but if there will be in the future then it would be nice for folks learning how to build device service snaps to create an edinburgh specific device-simple snap rather than always have to follow master or build aga

[2019-07-23 23:30] tonyespy commented on #338
Based on our recent versioning discussion in the devices WG, I'm not sure it actually makes any sense for us to release anything on the edinburgh branch, as we've said that the major release of the SDKs will correspond to the major release of EdgeX. So if/when the next release of device-sdk-go is minted, it'll be 1.1, and it will be compatible with both Edinburgh and Fuji. As for snap packaging, I

[2019-07-23 23:31] #338 closed

[2019-07-31 13:44] cloudxxx8 opened #339 "Precision lost after transformation with scale"
We got lots of use cases when the type of Device Resource is integer with a float scale, such as 0.01, and the precision lost after transformation.  It is the usual case in Modbus devices.
For example,
http://ftp.icpdas.com/pub/cd/usbcd/napdos/dl_100/DL100TM485/Documents/DL_100TM485_V102.pdf
![image](https://user-images.githubusercontent.com/11695863/62216912-3c752d00-b3dc-11e9-976f-8126418706d3.p

[2019-07-31 13:48] cloudxxx8 commented on #339
My proposed solution is to add a field "valueDescriptorType" in property value.
https://github.com/edgexfoundry/go-mod-core-contracts/blob/master/models/propertyvalue.go

If it is empty, keep the same behavior.  If it is not empty, it will be the data type of value descriptor and reading value data type after transform.

[2019-08-02 03:16] lcq987 opened #340 "How to fix this error: "mgoGetAddressableById Invalid Object ID""
I have followed the official document step by step, but when I run "./device-simple" command, it always occur "Add Device failed RandNum-Device01, error: 400 - mgoGetAddressableById Invalid object ID : A device must be associated to an Addressable\n". I know a device must associated to an addressable object, but I don't how to modify my configuration.toml.

[2019-08-05 14:22] anonymouse64 opened #342 "Add option for device services to "overwrite" consul with local configuration changes"
In device service snaps, we have been creating examples where the service is configured to always use consul, as well as specify the configuration.toml in the command line options/arguments. This is because the command line arguments for services is not easily modified for snaps, and we want to make it work in the easiest way possible...

This setup has the net effect that when a device service is

[2019-08-05 15:14] cloudxxx8 commented on #340
@lcq987 may I know which version you are running?
for the latest version, there is no need to create Addressable in Device

[2019-08-05 17:45] tsconn23 opened #343 "BUG: Panic Handling GET Command w/QueryString"
I am about to merge the edgex-go PR https://github.com/edgexfoundry/edgex-go/pull/1571 and thought I would do an integration test just to see the parameters flow as expected. In the process of testing, I found a bug. Here are the steps to reproduce.

1.) Clean database, get latest on device-sdk-go master branch and do `make build`
2.) Get the above PR from edgex-go (or get latest from master if it

[2019-08-06 03:02] #343 closed

[2019-08-07 01:28] lcq987 commented on #340
I think it is the latest version, but if there is no need to create Addressable in Device, how can device associated with its own addressable?

[2019-08-07 02:09] cloudxxx8 commented on #340
The device is not associated with the addressable in the latest version.
How do you run it?
In the configuration.toml, you just need to define the protocol driver without addressable as the example on GitHub
https://github.com/edgexfoundry/device-sdk-go/blob/master/example/cmd/device-simple/res/configuration.toml#L63-L64

[2019-08-07 02:30] lcq987 commented on #340
Sorry,I made a mistake. the version I used is v0.7.1, where can I download latest docker-compose.yml file?

[2019-08-07 02:32] cloudxxx8 commented on #340
Please use the edinburgh release folder
https://github.com/edgexfoundry/developer-scripts/tree/master/releases

If you want to use master, please use the nightly-build, but it might not be stable

[2019-08-07 02:56] lcq987 commented on #340
thanks!!!

[2019-08-07 02:59] cloudxxx8 commented on #340
@lcq987 no problem.  please close this issue if you confirm it works fine

[2019-08-07 13:16] #340 closed

[2019-08-09 15:14] jdharms opened #345 "NewBinaryValue() and NewCommandValue() with type Binary behave differently"
See:

https://github.com/edgexfoundry/device-sdk-go/blob/master/pkg/models/commandvalue.go#L226

One pathway includes a call to `encodeBinaryValue()` and one does not, leaving events created in these separate ways incompatible.

[2019-08-09 15:51] iain-anderson commented on #339
I think for this scenario we should make the PropertyValue Type (and therefore the type in the valuedescriptor) a float. What we then want is a way of telling the device driver that the data that it needs to retrieve from the device is actually an int16.
At the moment we can achieve this by defining an Attribute that will contain this information, but Attributes are specific to individual device s

[2019-08-09 15:57] iain-anderson commented on #342
If there was an option on edgex-cli to upload a config file (or to change an individual value) would that be useful?

[2019-08-09 18:36] anonymouse64 commented on #342
Yes that would be independently useful but I don't think that would replace my request here. I don't want to have to install another tool just to push the configuration.toml into consul for my device service.

[2019-08-10 03:33] cloudxxx8 commented on #339
ok, deviceDataType is for the device internally, and the original "type" is for the valueDescriptor.
If deviceDataType is empty, everything works as before.

[2019-08-11 02:49] cloudxxx8 commented on #342
@iain-anderson and @anonymouse64 ,  let's discuss in the working group meeting.  If we all agree with adding this argument, I can implement it easily.
However, `--overwrite` is not a clear flag to me.  Do you have better idea?  How about `--overwrite-config`?

[2019-08-11 02:52] cloudxxx8 opened #347 "Move version number from /ping to /version API"
Currently, the version number is returned by /ping, but it is not consistent with edgex-go.  We discussed to use /version instead.  Thus, /ping should returns "pong", and /version returns the plain text version number.

[2019-08-11 14:49] anonymouse64 commented on #342
I only propose --overrride because it matches config-seed in edgex-go

[2019-08-12 08:26] iain-anderson commented on #195
Agreed to defer pending requirements clarity (at WG meeting Aug 5)

[2019-08-12 08:30] iain-anderson commented on #347
Should return the version in application/json (see eg https://github.com/edgexfoundry/edgex-go/blob/86c40c7972745d23b935c2c300b436537df68d8d/internal/pkg/version.go#L24).
In the CSDK I've also put the sdk version in, in case it may help in issue diagnostics

[2019-08-12 14:47] #276 closed

[2019-08-12 15:06] anonymouse64 commented on #342
Upstream edgex-go issues/commits/PRs for context:

- https://github.com/edgexfoundry/edgex-go/pull/902 is the PR that added --overwrite to config-seed (which itself was triggered from https://github.com/edgexfoundry/edgex-go/issues/827)
- https://github.com/edgexfoundry/edgex-go/issues/922 is the issue I have for explaining a bit of the same background around usage of this option within the edgexf

[2019-08-12 19:41] tobiasmo1 commented on #345
These should create compatible values. With changes to this logic, be sure to add tests to express and confirm resulting behavior. As I recall, the NewCommandValue method is invoked during creation of values originating from a device's resource operation (typically static values loaded during startup), whereas the NewBinaryValue is prepared at runtime by device service's command handler (called by

[2019-08-13 09:51] iain-anderson commented on #339
As raised in the WG meeting, the trouble with introducing a new field in PropertyValue is that the potential values that it can take are specific to a device class anyway. Bluetooth GATT for example defines many more datatypes than are used in Modbus. So on reflection I'd keep doing things the way we are: the device service defines an Attribute to be provided in the device profile, which indicates

[2019-08-14 09:36] #317 closed

[2019-08-16 14:53] cloudxxx8 commented on #245
I will work on this issue after https://github.com/edgexfoundry/go-mod-core-contracts/pull/127 is merged

[2019-08-18 07:24] cloudxxx8 commented on #324
@anonymouse64 #276 has been resolved.  May we close this issue?

[2019-08-18 07:37] cloudxxx8 commented on #347
In the discussion of WG meeting, we decide to keep the response of /ping as is.

[2019-08-18 14:22] cloudxxx8 opened #350 "The base config path on registry contains duplicated service name"
The stem made in device-sdk-go contains the service name
https://github.com/edgexfoundry/device-sdk-go/blob/97655749dcc7e7c65a911ef611353d97b7c3aa5b/internal/config/loader.go#L57

Also, the configBasePath in go-mod-registry is assigned the service key again
https://github.com/edgexfoundry/go-mod-registry/blob/bd39b738c376a2d80ff98be17a6176e0374f81aa/internal/pkg/consul/client.go#L54

It causes the

[2019-08-19 09:39] iain-anderson opened #352 "Device Service API definition is missing"
There should be a .raml file specifying the rest API to which the device services built with the sdk will respond.

[2019-08-19 12:53] anonymouse64 commented on #324
I will need to update my driver to use the new methods in #276, it's not clear to me yet whether that will solve my specific use case with my [device-thingy52](https://github.com/anonymouse64/device-thingy52), but as mentioned above, I still intend this as an orthogonal request to #276, but since you disagree I need to put together an example of what I can't do without this request.

[2019-08-19 16:52] tonyespy opened #354 "Don't pass query parameters with prefix "ds-" to ProtocolDriver"
Support was recently added to the SDK to pass query parameters received on GET requests to the ProtocolDriver via the attributes map.

As there are some potential use cases for query parameters which impact the operation of the SDK's core logic itself (eg. don't send JSON reply, don't push to Core Data, ...), it was decided that query parameters reserved for the SDK would be name-spaced by appendi

[2019-08-20 14:08] iain-anderson opened #355 "Provide example of aggregating device resources"
In addition to the existing example device service, a new one simulating e.g. a 3-axis gyroscope.
This will illustrate the use of the deviceCommands section in a device profile. We should also remove the deviceCommands for the existing example as they don't do anything.

[2019-08-22 15:30] #347 closed

[2019-08-22 16:07] iain-anderson commented on #352
This will be defined in Swagger rather than RAML, as that is the standard for EdgeX going forward.

[2019-08-23 11:05] iain-anderson opened #356 "Implement default values for parameters to SET operations"
When performing a SET / PUT to a device resource, the value passed to the driver should be:

1. Parsed out of the JSON payload, otherwise
2. If this is part of a deviceCommand, the value of "parameter" in the resource operation, otherwise
3. The value of "defaultValue" in the deviceResource

If none of these are available, the operation fails (http 400)

See [device-sdk](https://github.com/edgexfo

[2019-08-24 06:33] cloudxxx8 commented on #339
We are implementing it in
https://github.com/edgexfoundry/device-modbus-go/issues/78

[2019-08-24 06:44] cloudxxx8 commented on #324
@anonymouse64 we had better put all the driver related logic into protocol driver.  the responsibility of Bootstrap is not loading config.  please advise how to resolve your issue.  thanks

[2019-08-24 07:58] cloudxxx8 commented on #354
The current implementation is to pass the whole query string to the protocol driver without parsing it.  Is it necessary to remove all the "ds-*" from the raw query string?

[2019-08-24 08:33] cloudxxx8 commented on #355
There is a quick design to enhance the device-simple:

- add three device resource as int16 type: x-value, y-value, and z-value
- add a device command called 3-axis and aggregate all three values
- the 3-axis device command supports both get and put command

Please see whether this design is acceptable

[2019-08-24 18:44] tonyespy commented on #354
Yes, that's correct. @iain-anderson do you agree?

[2019-08-27 10:08] iain-anderson commented on #355
Sounds okay. For information here is the profile for the corresponding example in CSDK. It's meant to represent a sensor so it's read-only.

[Gyro.yaml.txt](https://github.com/edgexfoundry/device-sdk-go/files/3545527/Gyro.yaml.txt)

[2019-08-28 11:24] weichou1229 opened #358 "Fail to transform the zero value with float32 data type"
We got issue when execute read command. Given device reading is zero and data type is float32 and scale is 0.1, when device-sdk checks the value range, then it will throw the error:
[code]

[2019-08-30 07:56] FelixTing opened #359 "Calculation mistake in func transformReadBase"
If a base value is defined in the PropertyValues of device resource, the reading comes from device should be considered to be "exponent".
For example, given a resource is set "base" to 3, when the reading coming from device is 4, then the transformed reading should be 81 (3^4). But the current calculation is 4^3 = 64
https://github.com/edgexfoundry/device-sdk-go/blob/master/internal/transformer/tr

[2019-08-31 14:49] cloudxxx8 opened #360 "Make the CommandValue ordering passed to protocol driver be the same as the resource operation ordering in Device Profile"
For some example, the protocol driver needs the specific ordering for some reason.  The following example should make sure "Action" is the first CommandValue element passed to protocol driver

[code]

[2019-08-31 14:50] cloudxxx8 commented on #360
Another topic we could discuss here is whether we need "index" field.  I thought we can just follow the order and index looks redundant to me.  For example:

[code]

[2019-09-01 05:47] cloudxxx8 opened #361 "Refactor command unit test"
The current command unit test contains too much hard code and hard to maintain.

[2019-09-01 21:32] iain-anderson commented on #360
If the  ordering is preserved by core-metadata, agreed this should be fine and we don't need the index field.

[2019-09-02 01:53] #359 closed

[2019-09-02 09:26] nbfhscl opened #365 "Add update callback of deviceprofile for protocol driver"
I'm working on an opcua device service which monitors nodes base on deviceprofile. It needs to CUD the monitorItem whenever the deviceresource in deviceprofile updates. Now that you have added CUD callbacks for device, what about add a update callback for deviceprofile?

[2019-09-02 09:37] cloudxxx8 commented on #365
Device Profile doesn't link to Device Service directly.  We need to find a good way to implement the update callback for Device Profile

[2019-09-02 09:40] cloudxxx8 commented on #365
@tsconn23 is it possible to make a callback to Device Service when a Device Profile is updated. It needs to retrieve all the associated Devices and get all the related Device Services.

[2019-09-02 09:45] nbfhscl commented on #365
I think the callback of Device Profile to all related Device Service has already been implemented by metadata.

[2019-09-02 09:46] cloudxxx8 commented on #365
Got it
Then, we can implement the callback in Device Service SDK
@iain-anderson does C SDK provide this callback?

[2019-09-02 09:50] iain-anderson commented on #365
It does not. But we did decide that Profiles are not permitted to be updated if there are Devices using them, so if you discard your cached profile when the last relevant device is removed, you should always be up-to-date.

[2019-09-02 09:59] cloudxxx8 commented on #365
yeah...I forgot it

[2019-09-02 10:01] nbfhscl commented on #365
What bad is going to happen if Profiles were updated when there are Devices using them?

[2019-09-02 10:03] cloudxxx8 opened #366 "Add lock into cache package to make sure the thread safety"
We discussed in #13, and I thought it would be better to add a mutex lock into cache to reduce the risk

[2019-09-02 10:15] nbfhscl commented on #365
In my case, an opcua server may contains many nodes, and the nodes you want to monitor(subscribe) may increase or decrease. Currently I'm comparing the Profile with the Cache and update the monitorItems based on it.

[2019-09-02 10:32] cloudxxx8 commented on #365
@nbfhscl if  you are monitoring OPC-UA server from the device service, you can just call UpdateDeviceProfile API and it would update Device Profile in both cache and core-metadata.
Since the update is triggered from the Device Service side, we don't need the callback.

[2019-09-03 01:29] nbfhscl commented on #365
@cloudxxx8@iain-anderson, If the Profiles are not permitted to be updated (from the metadata side) when there are Devices using them. Then what's this api for:
`Put http://core-metadata/api/v1/deviceprofile`

[2019-09-04 09:00] #350 closed

[2019-09-10 13:54] wassim6975 opened #368 "make: *** [cmd/device-simple/device-simple] Error 1"
Hello everyone,

I have a problem when I want to make build device-simple.
Can you help me ?

Thank you

MacBook-Air-de-wassim:device-simple wassim$ make build
CGO_ENABLED=0 GO111MODULE=on go build -ldflags "-X github.com/edgexfoundry/device-simple.Version=1.1.0" -o cmd/device-simple/device-simple ./cmd/device-simple
build github.com/edgexfoundry/edgex-go/device-simple/cmd/device-simple: cannot lo

[2019-09-15 02:48] cloudxxx8 commented on #23
As @tobiasmo1 mentioned, this is resolved in PR#293

[2019-09-15 02:48] #23 closed

[2019-09-15 02:52] cloudxxx8 commented on #189
@tobiasmo1 do you agree to close this issue and leave the responsibility of managing Interval/IntervalActions out side of Device Service SDK?

[2019-09-15 08:36] cloudxxx8 commented on #361
fixed by #367

[2019-09-15 08:36] #361 closed

[2019-09-16 09:03] #358 closed

[2019-09-16 15:17] jpwhitemn commented on #19
Jim to research Java origins per 9/16/2019 WG meeting.  Hold for now.

[2019-09-16 15:19] jpwhitemn commented on #29
Agreed per 9/16/2019 WG meeting this is Geneva item with design work in Fuji release.  Probably impacting non-backward compatibility.

[2019-09-16 15:21] jpwhitemn commented on #189
Per 9/16/2019 WG meeting, closing with option for Toby to reopen with more input/use case info.

[2019-09-16 15:21] #189 closed

[2019-09-16 17:37] tsconn23 commented on #368
@wassim6975 You have a problem with your local git configuration. Unrelated to this application.

[2019-09-16 17:37] #368 closed

[2019-09-16 17:42] #356 closed

[2019-09-17 12:02] cloudxxx8 commented on #360
fixed by #356

[2019-09-17 12:02] #360 closed

[2019-09-17 13:11] wassim6975 opened #370 "404 - Item not found\n" error: Couldn't register to metadata service"
Hello everyone,
I was creating a device-simple with this tutorial https://docs.edgexfoundry.org/Ch-GettingStartedSDK-Go.html but I have a problem when I want to run my device-simple.

MacBook-Air-de-wassim:device-simple wassim$ ./device-simple
Init: useRegistry:  profile:  confDir:
Loading configuration from: /Users/wassim/go/src/github.com/edgexfoundry/device-simple/cmd/device-simple/res/configur

[2019-09-20 10:18] cloudxxx8 opened #371 "Update the lastConnected timestamp of the device in core-metadata"
Since the update might be high frequencies, this feature should be configurable, and the default setting might be disabled.
We could discuss in the working group meeting

[2019-09-20 17:11] kranthisai commented on #370
Same issue

[2019-09-21 04:04] cloudxxx8 commented on #370
@wassim6975 and @kranthisai
I can reproduce this issue now, and it is caused by the change of go-mod-core-contracts
The easy to make it work is keep our existing go module setting.  It works fine with v0.1.16, and we haven't updated it.  Please make sure the definition in your go.mod is as follows
`github.com/edgexfoundry/go-mod-core-contracts v0.1.16`

If you are not using go module, please check

[2019-09-25 21:26] tsconn23 commented on #318
@cloudxxx8 @iain-anderson It looks like we still have outstanding work on this. I had to pull down the latest device-sdk for some testing today and I notice the logic to create value descriptors hasn't changed. We have [implemented](https://github.com/edgexfoundry/edgex-go/blob/c4034e410266fcbefd481afaac65e066e6aa6419/cmd/core-metadata/res/configuration.toml#L3) the toggle in core-metadata.

Are w

[2019-09-25 22:53] cloudxxx8 commented on #318
@tsconn23 sorry, I just haven't had time to implement that.
I know you have made the toggle, so I would like to leverage the System Management API to get the configuration from core-meatadata to see whether Device Service should manage ValueDescriptor

[2019-09-26 15:21] tsconn23 commented on #253
Re-opening as an agenda item for Device Services WG 30-Sept-19. Discussed during Core WG 26-Sept-19.

@iain-anderson @cloudxxx8 for visibility

[2019-09-27 08:55] singoo opened #372 "make build failed."
According to the edgexfoundry official website steps , the following error occurs.

The step from => https://docs.edgexfoundry.org/Ch-GettingStartedSDK-Go.html#build-your-device-service

![image](https://user-images.githubusercontent.com/29615989/65756327-78601080-e147-11e9-9817-07571d60a1f3.png)

[2019-09-29 10:45] wangmingjunabc commented on #372
I have the same problem:
github.com/edgexfoundry/device-sdk-go/internal/clients/init.go:202:58: cannot use endpoint (type *endpoint.Endpoint) as type clients.Endpointer in argument to metadata.NewAddressableClient:
	*endpoint.Endpoint does not implement clients.Endpointer (missing Fetch method)

[2019-09-29 14:37] cloudxxx8 commented on #372
Please try to keep our existing go module setting for go-mod-core-contracts. It works fine with v0.1.16, and we haven't updated it. Please make sure the definition in your `go.mod` is as follows
`github.com/edgexfoundry/go-mod-core-contracts v0.1.16`

If you are not using go module, please checkout the v0.1.16 tag in your local go-mod-core-contracts repository
`git checkout v0.1.16`

[2019-09-30 15:17] tsconn23 commented on #253
Discussed Device Service WG 30-Sept-19

Order of precedence:
 ENV_VAR_OVERRIDE
--registry=<registry_url> - Use the registry at that url
--registry=Load the value from configuration.toml
no flag - Don't use the registry

[2019-09-30 15:49] lenny-intel opened #373 "Add API to add endpoints to existing webservice"
Some device services (new rest DS) need to have their own REST endpoints. Currently these services have to run a second webserver and configure a separate port. This is not desirable.

Adding an API which adds endpoint to existing webservice would make this much cleaner and require the need to specify a second port for the service.

Note this new API would have to validate that the new endpoint be

[2019-09-30 16:50] cloudxxx8 commented on #253
what is
`--registry=Load the value from configuration.toml`
does it mean empty string?

[2019-09-30 16:52] tsconn23 commented on #253
I updated my comment. Hopefully it's clearer.

[2019-10-11 15:27] #373 closed

[2019-10-14 14:05] #366 closed

[2019-10-15 16:29] #352 closed

[2019-10-16 00:36] lenny-intel commented on #345
I have also run into this with my REST device service attempting to support binary data.

My case is `NewBinaryValue()` doesn't call `encodeBinaryValue()`, but `BinaryValue()` in unit tests calls `decodeBinaryValue()`.

`NewBinaryValue()`  needs to call `encodeBinaryValue()`

[2019-10-16 01:26] lenny-intel commented on #345
I switched to using `NewCommandValue()` rather than the individual New<type>Value() calls and now all consistent encoding for my use. :-)

[2019-10-16 20:40] lenny-intel opened #376 "SDK doesn't populate Device cache on first run of device service"
Using latest SDK from master (v0.0.0-20191015162939-14f308f7b3dc as of 10/16/2019) the SDK no longer populates the Device cache for new devices, i.e. when the device service first runs.

The Device cache is then populated properly when the device service is restarted.

Reproduce this issue by:
- Updating device-virtual-go to latest SDK
- Build and run with fresh DB.
- Try sending GET to `http://lo

[2019-10-17 09:18] cloudxxx8 commented on #376
I've verified it works fine with device-simple, and I am looking into device-virtual

[2019-10-17 14:48] #372 closed

[2019-10-18 08:38] cloudxxx8 commented on #376
it also works fine in device-modbus, moving this issue to device-virtual

[2019-10-18 08:39] cloudxxx8 commented on #376
new issue opened in device-virtual-go
https://github.com/edgexfoundry/device-virtual-go/issues/56

[2019-10-18 08:44] cloudxxx8 commented on #370
fixed by #375

[2019-10-18 08:44] #370 closed

[2019-10-18 15:16] lenny-intel commented on #376
@cloudxxx8, I discovered this with my new device-rest-go and confirmed it in device-virtual-go. I did't see this issue until updating to the latest version of the SDK.

[2019-10-18 15:39] cloudxxx8 commented on #376
@lenny-intel ok, I will take more time on this by Monday.  We have to fix issue before release.

[2019-10-18 16:47] cloudxxx8 commented on #253
thanks, @tsconn23
@iain-anderson @TomFlem it is the same as my original proposal in #274
I didn't join the Sep-30 meeting.  Please help confirm whether both of you agree with this approach. If yes, I will make the change

[2019-10-18 17:23] iain-anderson commented on #253
The other services allow --registry without a URL, and use the toml in that case. So, we should support the same if we have time to implement it. There's an effort to rationalize the way config works in Geneva and hopefully that will iron out some of the odd behaviors we have at the moment.

[2019-10-18 17:45] lenny-intel commented on #376
@cloudxxx8 , I just confirmed this issue also with device-random. After a clean start (i.e. no device,profile, etc in DB) I get following error when submitting GET to `http://localhost:49988/api/v1/device/name/Random-Integer-Generator01/RandomValue_Int8`

`Device: Random-Integer-Generator01 not found; GET /api/v1/device/name/Random-Integer-Generator01/RandomValue_Int8`

Once I restarted device-ran